 .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 #t1_10 {
     left: 69px;
     top: 197px;
 }
 
 #t2_10 {
     left: 69px;
     top: 144px;
 }
 
 #t3_10 {
     left: 69px;
     top: 250px;
 }
 
 #t4_10 {
     left: 69px;
     top: 303px;
 }
 
 #t5_10 {
     left: 990px;
     top: 1077px;
     letter-spacing: 6px;
 }
 
 #t6_10 {
     left: 266px;
     top: 133px;
     letter-spacing: 1px;
 }
 
 #t7_10 {
     left: 266px;
     top: 155px;
     letter-spacing: 1px;
 }
 
 #t8_10 {
     left: 266px;
     top: 527px;
     letter-spacing: 1px;
 }
 
 #t9_10 {
     left: 293px;
     top: 224px;
     letter-spacing: 3px;
 }
 
 #ta_10 {
     left: 338px;
     top: 224px;
 }
 
 #tb_10 {
     left: 727px;
     top: 224px;
     letter-spacing: 3px;
 }
 
 #tc_10 {
     left: 767px;
     top: 224px;
 }
 
 #td_10 {
     left: 518px;
     top: 223px;
     letter-spacing: 3px;
 }
 
 #te_10 {
     left: 558px;
     top: 223px;
 }
 
 #tf_10 {
     left: 266px;
     top: 43px;
 }
 
 #form10_4 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 67px;
     top: 578px;
     width: 43px;
     height: 37px;
     text-align: left;
     background: transparent;
     font: normal 29px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T01 {
     z-index: 2;
     position: absolute;
     left: 309px;
     top: 236px;
     width: 24px;
     height: 38px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T02 {
     z-index: 2;
     position: absolute;
     left: 358px;
     top: 236px;
     width: 118px;
     height: 38px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T03 {
     z-index: 2;
     position: absolute;
     left: 533px;
     top: 236px;
     width: 22px;
     height: 38px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T04 {
     z-index: 2;
     position: absolute;
     left: 584px;
     top: 236px;
     width: 118px;
     height: 38px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T05 {
     z-index: 2;
     position: absolute;
     left: 741px;
     top: 236px;
     width: 22px;
     height: 38px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T06 {
     z-index: 2;
     position: absolute;
     left: 793px;
     top: 236px;
     width: 118px;
     height: 38px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T07 {
     z-index: 2;
     position: absolute;
     left: 330px;
     top: 586px;
     width: 52px;
     height: 52px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T08 {
     z-index: 2;
     position: absolute;
     left: 268px;
     top: 647px;
     width: 52px;
     height: 52px;
     ;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T09 {
     z-index: 2;
     position: absolute;
     left: 335px;
     top: 652px;
     width: 42px;
     height: 42px;
     ;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T10 {
     z-index: 2;
     position: absolute;
     left: 390px;
     top: 647px;
     width: 52px;
     height: 52px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T11 {
     z-index: 2;
     position: absolute;
     left: 330px;
     top: 707px;
     width: 52px;
     height: 52px;
     ;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T12 {
     z-index: 2;
     position: absolute;
     left: 649px;
     top: 588px;
     width: 52px;
     height: 52px;
     ;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T13 {
     z-index: 2;
     position: absolute;
     left: 585px;
     top: 647px;
     width: 52px;
     height: 52px;
     ;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T14 {
     z-index: 2;
     position: absolute;
     left: 654px;
     top: 652px;
     width: 42px;
     height: 42px;
     ;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T15 {
     z-index: 2;
     position: absolute;
     left: 709px;
     top: 647px;
     width: 52px;
     height: 52px;
     ;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T16 {
     z-index: 2;
     position: absolute;
     left: 649px;
     top: 707px;
     width: 52px;
     height: 52px;
     ;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T17 {
     z-index: 2;
     position: absolute;
     left: 488px;
     top: 736px;
     width: 52px;
     height: 52px;
     ;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T18 {
     z-index: 2;
     position: absolute;
     left: 427px;
     top: 798px;
     width: 52px;
     height: 52px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T19 {
     z-index: 2;
     position: absolute;
     left: 493px;
     top: 803px;
     width: 42px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T20 {
     z-index: 2;
     position: absolute;
     left: 547px;
     top: 798px;
     width: 52px;
     height: 52px;
     ;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #CL_RA_P10_T21 {
     z-index: 2;
     position: absolute;
     left: 488px;
     top: 859px;
     width: 52px;
     height: 52px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 50px Arial, Helvetica, sans-serif;
 }
 
 #form10_23 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 51px;
     top: 290px;
     width: 141px;
     height: 44px;
     text-align: center;
     background: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #form10_24 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 130px;
     width: 142px;
     height: 44px;
     text-align: center;
     background: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #form10_25 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 185px;
     width: 139px;
     height: 46px;
     text-align: center;
     background: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #form10_26 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 239px;
     width: 141px;
     height: 46px;
     text-align: center;
     background: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #tg_10 {
     left: 55px;
     top: 83px;
 }
 
 .s1_10 {
     FONT-SIZE: 55px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s6_10 {
     FONT-SIZE: 85px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 255, 255);
 }
 
 .s4_10 {
     FONT-SIZE: 183px;
     FONT-FAMILY: MajemaSkol;
     color: rgb(0, 0, 0);
     line-height: 140%;
 }
 
 .s3_10 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
 
 .s5_10 {
     FONT-SIZE: 244px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(0, 154, 223);
 }
 
 .s2_10 {
     FONT-SIZE: 48px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
