 .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 #t1_6 {
     left: 55px;
     top: 83px;
     letter-spacing: -1px;
 }
 
 #t2_6 {
     left: 69px;
     top: 197px;
 }
 
 #t3_6 {
     left: 69px;
     top: 144px;
 }
 
 #t4_6 {
     left: 69px;
     top: 250px;
 }
 
 #t5_6 {
     left: 777px;
     top: 74px;
     letter-spacing: 1px;
 }
 
 #t6_6 {
     left: 881px;
     top: 74px;
 }
 
 #t7_6 {
     left: 777px;
     top: 96px;
     letter-spacing: 1px;
 }
 
 #t8_6 {
     left: 777px;
     top: 118px;
     letter-spacing: 1px;
 }
 
 #t9_6 {
     left: 361px;
     top: 934px;
     letter-spacing: 1px;
 }
 
 #ta_6 {
     left: 361px;
     top: 956px;
     letter-spacing: 1px;
 }
 
 #tb_6 {
     left: 361px;
     top: 1000px;
 }
 
 #tc_6 {
     left: 266px;
     top: 510px;
 }
 
 #td_6 {
     left: 266px;
     top: 539px;
     letter-spacing: 1px;
 }
 
 #te_6 {
     left: 266px;
     top: 568px;
     letter-spacing: 1px;
 }
 
 #tf_6 {
     left: 266px;
     top: 597px;
     letter-spacing: 1px;
 }
 
 #tg_6 {
     left: 266px;
     top: 626px;
 }
 
 #th_6 {
     left: 266px;
     top: 655px;
     letter-spacing: 1px;
 }
 
 #ti_6 {
     left: 266px;
     top: 684px;
 }
 
 #tj_6 {
     left: 266px;
     top: 713px;
     letter-spacing: 1px;
 }
 
 #tk_6 {
     left: 266px;
     top: 742px;
     letter-spacing: 1px;
 }
 
 #tl_6 {
     left: 266px;
     top: 395px;
 }
 
 #tm_6 {
     left: 266px;
     top: 417px;
     letter-spacing: 1px;
 }
 
 #tn_6 {
     left: 990px;
     top: 1077px;
     letter-spacing: 6px;
 }
 
 #to_6 {
     left: 266px;
     top: 37px;
     letter-spacing: -1px;
 }
 
 #tp_6 {
     left: 318px;
     top: 213px;
     letter-spacing: 1px;
 }
 
 #tq_6 {
     left: 373px;
     top: 274px;
     letter-spacing: 2px;
 }
 
 #tr_6 {
     left: 508px;
     top: 240px;
     letter-spacing: 2px;
 }
 
 #ts_6 {
     left: 631px;
     top: 211px;
     letter-spacing: 2px;
 }
 
 #tt_6 {
     left: 761px;
     top: 199px;
     letter-spacing: 2px;
 }
 
 #tu_6 {
     left: 889px;
     top: 218px;
     letter-spacing: 2px;
 }
 
 #tv_6 {
     left: 588px;
     top: 285px;
     letter-spacing: 2px;
 }
 
 #tw_6 {
     left: 751px;
     top: 263px;
     letter-spacing: 2px;
 }
 
 #tx_6 {
     left: 926px;
     top: 276px;
     letter-spacing: 2px;
 }
 
 #ty_6 {
     left: 748px;
     top: 465px;
     letter-spacing: -3px;
 }
 
 #tz_6 {
     left: 660px;
     top: 508px;
     letter-spacing: 2px;
 }
 
 #t10_6 {
     left: 617px;
     top: 552px;
     letter-spacing: 1px;
 }
 
 #t11_6 {
     left: 790px;
     top: 595px;
     letter-spacing: 1px;
 }
 
 #t12_6 {
     left: 660px;
     top: 638px;
     letter-spacing: 1px;
 }
 
 #t13_6 {
     left: 703px;
     top: 682px;
     letter-spacing: 1px;
 }
 
 #t14_6 {
     left: 662px;
     top: 725px;
     letter-spacing: -6px;
 }
 
 #t15_6 {
     left: 617px;
     top: 768px;
     letter-spacing: 1px;
 }
 
 #t16_6 {
     left: 704px;
     top: 812px;
 }
 
 #form6_1 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 74px;
     top: 582px;
     width: 29px;
     height: 31px;
     text-align: left;
     background: transparent;
     font: normal 24px Arial, Helvetica, sans-serif;
 }
 
 #form6_2 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 116px;
     top: 581px;
     width: 32px;
     height: 31px;
     text-align: left;
     background: transparent;
     font: normal 24px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P06_T01 {
     z-index: 2;
     position: absolute;
     left: 773px;
     top: 458px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T02 {
     z-index: 2;
     position: absolute;
     left: 816px;
     top: 458px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T03 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 458px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T04 {
     z-index: 2;
     position: absolute;
     left: 902px;
     top: 458px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T05 {
     z-index: 2;
     position: absolute;
     left: 946px;
     top: 458px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T06 {
     z-index: 2;
     position: absolute;
     left: 990px;
     top: 458px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T07 {
     z-index: 2;
     position: absolute;
     left: 1033px;
     top: 458px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T08 {
     z-index: 2;
     position: absolute;
     left: 688px;
     top: 501px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T09 {
     z-index: 2;
     position: absolute;
     left: 730px;
     top: 501px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T10 {
     z-index: 2;
     position: absolute;
     left: 773px;
     top: 501px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T11 {
     z-index: 2;
     position: absolute;
     left: 816px;
     top: 501px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T12 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 501px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 35px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T13 {
     z-index: 2;
     position: absolute;
     left: 902px;
     top: 501px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T14 {
     z-index: 2;
     position: absolute;
     left: 946px;
     top: 501px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T15 {
     z-index: 2;
     position: absolute;
     left: 643px;
     top: 545px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T16 {
     z-index: 2;
     position: absolute;
     left: 688px;
     top: 545px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T17 {
     z-index: 2;
     position: absolute;
     left: 730px;
     top: 545px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T18 {
     z-index: 2;
     position: absolute;
     left: 773px;
     top: 545px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T19 {
     z-index: 2;
     position: absolute;
     left: 816px;
     top: 545px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T20 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 545px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T21 {
     z-index: 2;
     position: absolute;
     left: 902px;
     top: 545px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T22 {
     z-index: 2;
     position: absolute;
     left: 816px;
     top: 589px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T23 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 589px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T24 {
     z-index: 2;
     position: absolute;
     left: 902px;
     top: 589px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T25 {
     z-index: 2;
     position: absolute;
     left: 946px;
     top: 589px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T26 {
     z-index: 2;
     position: absolute;
     left: 990px;
     top: 589px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T27 {
     z-index: 2;
     position: absolute;
     left: 1033px;
     top: 589px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T28 {
     z-index: 2;
     position: absolute;
     left: 688px;
     top: 632px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 35px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T29 {
     z-index: 2;
     position: absolute;
     left: 730px;
     top: 632px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 35px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T30 {
     z-index: 2;
     position: absolute;
     left: 773px;
     top: 632px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 35px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T31 {
     z-index: 2;
     position: absolute;
     left: 816px;
     top: 632px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 35px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T32 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 632px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 35px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T33 {
     z-index: 2;
     position: absolute;
     left: 902px;
     top: 632px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 35px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T34 {
     z-index: 2;
     position: absolute;
     left: 946px;
     top: 632px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T35 {
     z-index: 2;
     position: absolute;
     left: 990px;
     top: 632px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T36 {
     z-index: 2;
     position: absolute;
     left: 730px;
     top: 675px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T37 {
     z-index: 2;
     position: absolute;
     left: 773px;
     top: 675px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T38 {
     z-index: 2;
     position: absolute;
     left: 816px;
     top: 675px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T39 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 675px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T40 {
     z-index: 2;
     position: absolute;
     left: 902px;
     top: 675px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T41 {
     z-index: 2;
     position: absolute;
     left: 946px;
     top: 675px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T42 {
     z-index: 2;
     position: absolute;
     left: 990px;
     top: 675px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T43 {
     z-index: 2;
     position: absolute;
     left: 688px;
     top: 718px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 35px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T44 {
     z-index: 2;
     position: absolute;
     left: 730px;
     top: 718px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T45 {
     z-index: 2;
     position: absolute;
     left: 773px;
     top: 718px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T46 {
     z-index: 2;
     position: absolute;
     left: 816px;
     top: 718px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T47 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 718px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T48 {
     z-index: 2;
     position: absolute;
     left: 902px;
     top: 718px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T51 {
     z-index: 2;
     position: absolute;
     left: 643px;
     top: 761px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T52 {
     z-index: 2;
     position: absolute;
     left: 688px;
     top: 761px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T53 {
     z-index: 2;
     position: absolute;
     left: 730px;
     top: 761px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T54 {
     z-index: 2;
     position: absolute;
     left: 773px;
     top: 761px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T55 {
     z-index: 2;
     position: absolute;
     left: 816px;
     top: 761px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T56 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 761px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T57 {
     z-index: 2;
     position: absolute;
     left: 730px;
     top: 806px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T58 {
     z-index: 2;
     position: absolute;
     left: 773px;
     top: 806px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T59 {
     z-index: 2;
     position: absolute;
     left: 816px;
     top: 806px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T60 {
     z-index: 2;
     position: absolute;
     left: 860px;
     top: 806px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T61 {
     z-index: 2;
     position: absolute;
     left: 902px;
     top: 806px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T62 {
     z-index: 2;
     position: absolute;
     left: 946px;
     top: 806px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T63 {
     z-index: 2;
     position: absolute;
     left: 990px;
     top: 806px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 36px 'Courier New', Courier, monospace;
 }
 
 #CL_ST_P06_T64 {
     z-index: 2;
     position: absolute;
     left: 410px;
     top: 990px;
     width: 254px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #form6_66 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 187px;
     width: 139px;
     height: 43px;
     text-align: left;
     background: transparent;
     font: normal 33px Arial, Helvetica, sans-serif;
 }
 
 #form6_67 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 240px;
     width: 141px;
     height: 43px;
     text-align: left;
     background: transparent;
     font: normal 33px Arial, Helvetica, sans-serif;
 }
 
 #form6_68 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 132px;
     width: 142px;
     height: 46px;
     text-align: left;
     background: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 .s2_6 {
     FONT-SIZE: 55px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s1_6 {
     FONT-SIZE: 85px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 255, 255);
 }
 
 .s3_6 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s4_6 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
 
 .s8_6 {
     FONT-SIZE: 183px;
     FONT-FAMILY: MajemaSkol;
     color: rgb(0, 0, 0);
     line-height: 140%;
 }
 
 .s7_6 {
     FONT-SIZE: 244px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(230, 49, 14);
 }
 
 .s5_6 {
     FONT-SIZE: 85px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
 
 .s6_6 {
     FONT-SIZE: 48px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
