 .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 #t1_5 {
     left: 69px;
     top: 197px;
 }
 
 #t2_5 {
     left: 69px;
     top: 250px;
 }
 
 #t3_5 {
     left: 69px;
     top: 144px;
 }
 
 #t4_5 {
     left: 69px;
     top: 303px;
 }
 
 #t5_5 {
     left: 990px;
     top: 1077px;
     letter-spacing: 6px;
 }
 
 #t6_5 {
     left: 266px;
     top: 43px;
     letter-spacing: -6px;
 }
 
 #t7_5 {
     left: 266px;
     top: 340px;
     letter-spacing: 1px;
 }
 
 #t8_5 {
     left: 301px;
     top: 182px;
     letter-spacing: 2px;
 }
 
 #t9_5 {
     left: 572px;
     top: 182px;
     letter-spacing: 1px;
 }
 
 #ta_5 {
     left: 944px;
     top: 176px;
     letter-spacing: 1px;
 }
 
 #tb_5 {
     left: 688px;
     top: 201px;
     letter-spacing: 1px;
 }
 
 #tc_5 {
     left: 312px;
     top: 247px;
     letter-spacing: 2px;
 }
 
 #td_5 {
     left: 485px;
     top: 237px;
     letter-spacing: 2px;
 }
 
 #te_5 {
     left: 769px;
     top: 224px;
     letter-spacing: 1px;
 }
 
 #tf_5 {
     left: 615px;
     top: 241px;
     letter-spacing: 1px;
 }
 
 #tg_5 {
     left: 927px;
     top: 236px;
     letter-spacing: 2px;
 }
 
 #th_5 {
     left: 784px;
     top: 171px;
     letter-spacing: 2px;
 }
 
 #ti_5 {
     left: 429px;
     top: 189px;
     letter-spacing: 1px;
 }
 
 #tj_5 {
     left: 803px;
     top: 77px;
     letter-spacing: 1px;
 }
 
 #tk_5 {
     left: 878px;
     top: 77px;
 }
 
 #tl_5 {
     left: 803px;
     top: 99px;
     letter-spacing: 1px;
 }
 
 #to_5 {
     left: 266px;
     top: 383px;
     letter-spacing: 2px;
 }
 
 #tp_5 {
     left: 761px;
     top: 383px;
     letter-spacing: 2px;
 }
 
 #tq_5 {
     left: 471px;
     top: 438px;
 }
 
 #tr_5 {
     left: 266px;
     top: 492px;
     letter-spacing: 2px;
 }
 
 #ts_5 {
     left: 632px;
     top: 492px;
     letter-spacing: 2px;
 }
 
 #tt_5 {
     left: 1058px;
     top: 492px;
 }
 
 #tu_5 {
     left: 486px;
     top: 546px;
     letter-spacing: 3px;
 }
 
 #tv_5 {
     left: 856px;
     top: 546px;
 }
 
 #tw_5 {
     left: 486px;
     top: 600px;
     letter-spacing: 2px;
 }
 
 #tx_5 {
     left: 766px;
     top: 600px;
     letter-spacing: 2px;
 }
 
 #ty_5 {
     left: 266px;
     top: 654px;
     letter-spacing: 3px;
 }
 
 #tz_5 {
     left: 585px;
     top: 654px;
     letter-spacing: 3px;
 }
 
 #t10_5 {
     left: 887px;
     top: 654px;
 }
 
 #t11_5 {
     left: 266px;
     top: 708px;
     letter-spacing: 3px;
 }
 
 #t12_5 {
     left: 617px;
     top: 708px;
 }
 
 #t13_5 {
     left: 266px;
     top: 762px;
     letter-spacing: 2px;
 }
 
 #t14_5 {
     left: 849px;
     top: 762px;
     letter-spacing: 2px;
 }
 
 #t15_5 {
     left: 486px;
     top: 816px;
 }
 
 #t16_5 {
     left: 266px;
     top: 871px;
     letter-spacing: 3px;
 }
 
 #t17_5 {
     left: 520px;
     top: 871px;
     letter-spacing: 2px;
 }
 
 #t18_5 {
     left: 266px;
     top: 925px;
     letter-spacing: 3px;
 }
 
 #t19_5 {
     left: 701px;
     top: 925px;
     letter-spacing: 3px;
 }
 
 #t1a_5 {
     left: 987px;
     top: 925px;
 }
 
 #t1b_5 {
     left: 266px;
     top: 1005px;
     letter-spacing: 1px;
 }
 
 #form5_1 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 115px;
     top: 581px;
     width: 31px;
     height: 34px;
     text-align: left;
     background: transparent;
     font: normal 25px Arial, Helvetica, sans-serif;
 }
 
 #form5_2 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 70px;
     top: 579px;
     width: 34px;
     height: 35px;
     text-align: left;
     background: transparent;
     font: normal 27px Arial, Helvetica, sans-serif;
 }
 
 #form5_3 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 57px;
     top: 193px;
     width: 135px;
     height: 34px;
     text-align: left;
     background: transparent;
     font: normal 25px Arial, Helvetica, sans-serif;
 }
 
 #form5_4 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 239px;
     width: 138px;
     height: 37px;
     text-align: left;
     background: transparent;
     font: normal 29px Arial, Helvetica, sans-serif;
 }
 
 #form5_5 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 55px;
     top: 135px;
     width: 139px;
     height: 40px;
     text-align: left;
     background: transparent;
     font: normal 30px Arial, Helvetica, sans-serif;
 }
 
 #form5_6 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 290px;
     width: 141px;
     height: 44px;
     text-align: left;
     background: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T01 {
     z-index: 2;
     position: absolute;
     left: 601px;
     top: 398px;
     width: 150px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T02 {
     z-index: 2;
     position: absolute;
     left: 315px;
     top: 443px;
     width: 150px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T03 {
     z-index: 2;
     position: absolute;
     left: 477px;
     top: 507px;
     width: 150px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T04 {
     z-index: 2;
     position: absolute;
     left: 900px;
     top: 507px;
     width: 151px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T05 {
     z-index: 2;
     position: absolute;
     left: 316px;
     top: 562px;
     width: 150px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T06 {
     z-index: 2;
     position: absolute;
     left: 698px;
     top: 562px;
     width: 151px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T07 {
     z-index: 2;
     position: absolute;
     left: 316px;
     top: 615px;
     width: 150px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T08 {
     z-index: 2;
     position: absolute;
     left: 604px;
     top: 615px;
     width: 150px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T09 {
     z-index: 2;
     position: absolute;
     left: 400px;
     top: 669px;
     width: 168px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T10 {
     z-index: 2;
     position: absolute;
     left: 734px;
     top: 669px;
     width: 150px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T11 {
     z-index: 2;
     position: absolute;
     left: 455px;
     top: 724px;
     width: 156px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T12 {
     z-index: 2;
     position: absolute;
     left: 685px;
     top: 777px;
     width: 150px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T13 {
     z-index: 2;
     position: absolute;
     left: 340px;
     top: 832px;
     width: 140px;
     height: 40px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T14 {
     z-index: 2;
     position: absolute;
     left: 361px;
     top: 886px;
     width: 151px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T15 {
     z-index: 2;
     position: absolute;
     left: 544px;
     top: 941px;
     width: 150px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P05_T16 {
     z-index: 2;
     position: absolute;
     left: 828px;
     top: 941px;
     width: 151px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #t1c_5 {
     left: 55px;
     top: 83px;
 }
 
 .s1_5 {
     FONT-SIZE: 55px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s3_5 {
     FONT-SIZE: 244px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(0, 164, 183);
 }
 
 .s6_5 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s4_5 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
 
 .s5_5 {
     FONT-SIZE: 183px;
     FONT-FAMILY: MajemaSkol;
     color: rgb(0, 0, 0);
     line-height: 160%;
 }
 
 .s7_5 {
     FONT-SIZE: 85px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 255, 255);
 }
 
 .s2_5 {
     FONT-SIZE: 48px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
