<!DOCTYPE html >
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Halloween</title>
<!--     <script src="../../assets/dom-extensions.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../../assets/app.min.css">
    <link rel="stylesheet" type="text/css" href="04/4.min.css"> -->
</head>

<body>
    <div id="hide"></div>
    <div id="left">
        <div id="leftNav">
            <div id="btnThumbnails" onclick="IDRViewer.toggleOutlines(false)" title="Thumbnails" class="navBtn inactive"></div>
            <div id="btnOutlines" onclick="IDRViewer.toggleOutlines(true)" title="Bookmarks" class="navBtn inactive"></div>
        </div>
        <div id="leftContent">
            <!-- <div id="thumbnailPanel"></div> -->
            <div id="outlinePanel"></div>
        </div>
    </div>
    <div id="main">
        <div id="mainNav">
            <div id="btnSideToggle" onclick="IDRViewer.toggleThumbnails();" class="navBtn">
                <div title="Sidebar"></div>
            </div>
            <div id="btnPrev" title="Previous Page" onclick="IDRViewer.prev()" class="navBtn"></div>
            <select id="goBtn" onchange="IDRViewer.goToPage(0)">
            </select>
            <span id="pgCount"></span>
            <div id="btnNext" title="Next Page" onclick="IDRViewer.next()" class="navBtn"></div>
            <div id="btnSelect" title="Select" onclick="IDRViewer.setSelectMode(0)" class="navBtn"></div>
            <div id="btnMove" title="Pan" onclick="IDRViewer.setSelectMode(1)" class="navBtn"></div>
            <div id="btnZoomOut" title="Zoom Out" onclick="IDRViewer.zoomOut()" class="navBtn"></div>
            <select id="zoomBtn" onchange="IDRViewer.zoomUpdate()">
                <option value="0">100%</option>
                <option value="1">Actual Size</option>
                <option value="2">Fit Width</option>
                <option value="3">Fit Height</option>
                <option value="4">Fit Page</option>
                <option value="5">Automatic</option>
            </select>
            <div id="btnZoomIn" title="Zoom In" onclick="IDRViewer.zoomIn()" class="navBtn"></div>
            <div id="btnFullscreen" title="Fullscreen" onclick="IDRViewer.toggleFullScreen();" class="navBtn closed"></div>
        </div>
        <div id="mainContent">
            <div id="contentContainer">
                <div id="jpedal" style="position:relative; width: 1125px; height: 1125px; overflow: hidden; margin: 0 auto; box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);">
                    <div id="t1_4" class="t s1_4" onclick = "store();" routerLink = "/halloween" style="cursor:pointer;">Välj sida</div>
                    <div id="t2_4" class="t s1_4" onclick = "store();" routerLink = "/analogier1" style="cursor:pointer;">Extra övning</div>
                    <div id="t3_4" class="t s1_4" onclick = "store();" routerLink = "/main" style="cursor:pointer;">Välj kapitel</div>
                    <div id="t4_4" class="t s1_4" onclick="var list = document.getElementsByTagName('form');for(var i = 0; i < list.length; i ++) {	var form = list.item(i);	form.reset();}" style="cursor:pointer;">Rensa textfält</div>
                    <div id="t5_4" class="t s2_4">ORDKUNSKAP</div>
                    <div id="t6_4" class="t s3_4">Vante och hand är som sko och</div>
                    <div id="t7_4" class="t s3_4">.</div>
                    <div id="t8_4" class="t s3_4">Hår och kam är som nagel och</div>
                    <div id="t9_4" class="t s3_4">.</div>
                    <div id="ta_4" class="t s3_4">Fot och tår är som hand och</div>
                    <div id="tb_4" class="t s3_4">.</div>
                    <div id="tc_4" class="t s3_4">Hund och valp är som häst och</div>
                    <div id="td_4" class="t s3_4">.</div>
                    <div id="te_4" class="t s3_4">Pojke och ﬂicka är som bror och</div>
                    <div id="tf_4" class="t s3_4">.</div>
                    <div id="tg_4" class="t s3_4">Frukost och morgon är som middag och</div>
                    <div id="th_4" class="t s3_4">.</div>
                    <div id="ti_4" class="t s3_4">Fågel och himmel är som ﬁsk och</div>
                    <div id="tj_4" class="t s3_4">.</div>
                    <div id="tk_4" class="t s4_4">Analogier</div>
                    <div id="tl_4" class="t s5_4">Skriv klart analogierna.</div>
                    <div id="tm_4" class="t s5_4">Använd orden i ordbanken.</div>
                    <div id="tn_4" class="t s6_4">vatten</div>
                    <div id="to_4" class="t s6_4">fingrar</div>
                    <div id="tp_4" class="t s6_4">sax</div>
                    <div id="tq_4" class="t s6_4">kväll</div>
                    <div id="tr_4" class="t s6_4">föl</div>
                    <div id="ts_4" class="t s6_4">syster</div>
                    <div id="tt_4" class="t s6_4">fot</div>
                    <div id="tu_4" class="t s5_4">Skriv en egen analogi.</div>
                    <div id="tv_4" class="t s7_4">och</div>
                    <div id="tw_4" class="t s7_4">är som</div>
                    <div id="tx_4" class="t s7_4">och</div>
                    <div id="ty_4" class="t s7_4">.</div>
                    <div id="tz_4" class="t s8_4">Analogier</div>
                    <div id="t10_4" class="t s5_4">–</div>
                    <div id="t11_4" class="t s5_4">samband</div>
                    <div id="t12_4" class="t s5_4">mellan ord</div>
                    <div id="t13_4" class="t s5_4">efter ett</div>
                    <div id="t14_4" class="t s5_4">visst mönster.</div>
                    <div id="t15_4" class="t s5_4">Läs din analogi för en kamrat.</div>
                    <div id="t16_4" class="t s9_4">HALLOWEEN</div>
                    <!-- End text definitions -->
                    <!-- Begin Form Data -->
                    <form>
                        <input type="button" tabindex="5" id="form4_1" name="243 0 R" pdfFieldName="243 0 R" onclick = "store();" routerLink = "/halloween1" style="cursor:pointer;" title="Halloween" />
                        <input type="button" tabindex="6" id="form4_2" name="244 0 R" pdfFieldName="244 0 R" onclick = "store();" routerLink = "/substantiv" style="cursor:pointer;" title="Substantiv" />
                        <input type="button" tabindex="3" id="form4_3" name="242 0 R" pdfFieldName="242 0 R" onclick = "store();" routerLink = "/analogier1"style="cursor:pointer;" title="Analogier" />
                        <input type="button" tabindex="1" id="form4_4" name="240 0 R" pdfFieldName="240 0 R" onclick = "store();" routerLink = "/main" style="cursor:pointer;" title="Välj kapitel" />
                        <input type="button" tabindex="2" id="form4_6" name="241 0 R" pdfFieldName="241 0 R" onclick = "store();" routerLink = "/halloween" style="cursor:pointer;" title="Välj sida" />
                        <input type="button" tabindex="4" id="form4_5" name="1472 0 R" pdfFieldName="1472 0 R" onclick="var list = document.getElementsByTagName('form');
for(var i = 0; i < list.length; i ++) {
	var form = list.item(i);
	form.reset();
}" style="cursor:pointer;" />
                        <input type="text" tabindex="7" maxlength="10" id="CL_HA_P04_T01" name="P04_T01" pdfFieldName="P04_T01" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="8" maxlength="10" id="CL_HA_P04_T02" name="P04_T02" pdfFieldName="P04_T02" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="9" maxlength="10" id="CL_HA_P04_T03" name="P04_T03" pdfFieldName="P04_T03" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="10" maxlength="10" id="CL_HA_P04_T04" name="P04_T04" pdfFieldName="P04_T04" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="11" maxlength="10" id="CL_HA_P04_T05" name="P04_T05" pdfFieldName="P04_T05" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="12" maxlength="10" id="CL_HA_P04_T06" name="P04_T06" pdfFieldName="P04_T06" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="13" maxlength="10" id="CL_HA_P04_T07" name="P04_T07" pdfFieldName="P04_T07" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="14" maxlength="10" id="CL_HA_P04_T08" name="P04_T08" pdfFieldName="P04_T08" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="15" maxlength="10" id="CL_HA_P04_T09" name="P04_T09" pdfFieldName="P04_T09" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="16" maxlength="10" id="CL_HA_P04_T10" name="P04_T10" pdfFieldName="P04_T10" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="17" maxlength="10" id="CL_HA_P04_T11" name="P04_T11" pdfFieldName="P04_T11" onfocus="TrackInsightsTextBoxes(this)"/>
                    </form>
                    <!-- End Form Data -->
                    <!-- Begin page background -->
                    <div id="pg4Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
                    <div id="pg4">
                        <object width="1125" height="1125" data="assets/Halloween/04/4.svg" type="image/svg+xml" id="svgImage" style="width:1125px; height:1125px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!--    <script src="../../assets/jquery.min.js"></script>
    <script src="../../assets/app_clown.min.js" type="text/javascript"></script>
    <script src="../../assets/IDRViewer.min.js" type="text/javascript"></script>
    <script src="//rum-static.pingdom.net/pa-5aab4ff34c40770007000465.js" async></script> -->
</body>

</html>
