
/*app.css*/
@font-face {
    font-family: HelveticaNeue-Medium;
    src :url("../fonts/HelveticaNeue-Medium.eot");
    src :url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeue-Medium.ttf") format('truetype');
}

@font-face {
    font-family: MajemaSkol;
    src :url("../fonts/MajemaSkol.eot");
    src :url("../fonts/MajemaSkol.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MajemaSkol.woff") format("woff"),
    url("../fonts/MajemaSkol.ttf") format('truetype');
}

@font-face {
    font-family: Gotham-Medium;
    src :url("../fonts/Gotham-Medium.eot");
    src :url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gotham-Medium.woff") format("woff"),
    url("../fonts/Gotham-Medium.ttf") format('truetype');
}

@font-face {
    font-family: HelveticaNeue-Light;
    src :url("../fonts/HelveticaNeue-Light.eot");
    src :url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Light.woff") format("woff"),
    url("../fonts/HelveticaNeue-Light.ttf") format('truetype');
}

@font-face {
    font-family: DonSemiformal;
    src :url("../fonts/DonSemiformal.eot");
    src :url("../fonts/DonSemiformal.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DonSemiformal.woff") format("woff"),
    url("../fonts/DonSemiformal.ttf") format('truetype');
}

body:-webkit-full-screen {
    width: 100%;
    height: 100%;
}
body::-ms-backdrop {
    /*background: url("assets/bg.png") repeat scroll 0 0 transparent;*/
}
body {
    margin: 0;
}
#left {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: -20px;
    z-index: 5;

    width: 0;
    overflow: hidden;

    transition-timing-function: ease;
    transition-duration: 200ms;

    border-right: 1px solid #555;
}
#leftNav {
    display: none;
    height: 32px;
    padding-top: 7px;
    padding-left: 5px;

    border-bottom: 1px solid #555;
    /*background: url("assets.png") repeat scroll 0 -24px transparent;*/ /* Background pattern courtesy of http://subtlepatterns.com/mocha-grunge/ */
}
#leftContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: scroll;

    background-color: rgba(0,0,0,.5);
}
#outlinePanel {
    display: none;
}
#main {
    position: absolute;
    right: 0;
    left: 0;

    height: 100%;

    transition-timing-function: ease;
    transition-duration: 200ms;
}
#mainNav {
    top: 0;
    z-index: 999;

    height: 32px;
    padding-top: 7px;
    padding-right: 30px;
    overflow: hidden;

    text-align: center;
    white-space: nowrap;

    border-bottom: 1px solid #555;
    /*background: url("assets.png") repeat scroll 0 -24px transparent;  Background pattern courtesy of http://subtlepatterns.com/mocha-grunge/ */
}
#btnSideToggle {
    display: inline;
    float: left;
    margin-left: 7px;
}
#pgCount {
    font-family: Arial;
    font-size: 14px;

    vertical-align: middle;

    color: rgb(255, 255, 255);
}
#btnSelect,
#btnZoomOut {
    margin-left: 20px;
}
#btnFullscreen {
    position: fixed;
    right: 7px;
}
#btnDownload {
    position: fixed;
    right: 40px;
}
.navBtn {
    display: inline-block;
    width: 24px;
    height: 24px;

    border: 1px solid white;
    border-radius: 5px;
    /*background: url("assets.png");*/
}
.navBtn:hover {
    cursor: pointer;

    -webkit-box-shadow: 0 0 8px white;
            box-shadow: 0 0 4px white;
}
.navBtn:active {
    opacity: .6;
}
#btnPrev {
    background-position: -120px 0;
}
#btnNext {
    background-position: -72px 0;
}
#btnSelect {
    background-position: -144px 0;
}
#btnMove {
    background-position: -48px 0;
}
#btnZoomOut {
    background-position: -240px 0;
}
#btnZoomIn {
    background-position: -216px 0;
}
#btnFullscreen.closed {
    background-position: 0 0;
}
#btnFullscreen.open {
    background-position: -24px 0;
}
#btnSideToggle {
    background-position: -192px 0;
}
#btnThumbnails {
    background-position: -168px 0;
}
#btnOutlines {
    background-position: -96px 0;
}
#btnDownload {
    background-position: -264px 0;
}
#mainContent {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;
}
#contentContainer {
    padding: 3px;
    margin: 0 auto;
    overflow: hidden;
}
.inactive {
    cursor: default !important;

    opacity: .6;
    -webkit-box-shadow: 0 0 0 white !important;
            box-shadow: 0 0 0 white !important;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
#goBtn {
    width: 55px;
    height: 23px;

    vertical-align: middle;

    color: white;
    background-color: #b0b0b0;
}
#mainNav * {
    vertical-align: middle;
}
#zoomBtn {
    width: 95px;
    height: 25px;

    color: white;
    background-color: #b0b0b0;
}
.thumbnail {
    width: 164px;
    padding: 5px 0;
    margin: 0 auto;

    cursor: pointer;
    text-align: center;
}
.thumbnail img {
    max-width: 160px;

    border: 2px solid #b0b0b0;
    border-radius: 3px;
}
.thumbnail img:hover {
    border: 2px solid #0026ff;
}
.currentPageThumbnail img {
    border: 2px solid #ffd900;
}
#outlinePanel ul {
    padding: 0 5px;

    list-style-type: none;
}
#outlinePanel ul ul {
    padding-right: 0;
    padding-left: 15px;
}
#outlinePanel li {
    padding: 2px;

    font-family: Arial;
    font-size: 15px;

    color: white;
}
#outlinePanel li:hover {
    cursor: pointer;

    background-color: rgba(0,0,0,.3);
}
.customNavLink {
    margin-right: 15px;
}
.customNavLink img {
    width: auto;
    height: 27px;
    margin-top: -3px;

    border: 0 !important;
    border-radius: 0 !important;
}

div#mainNav {
    display: none;
}

div#mainContent {
    top: 0!important;
}

input[type=text],
textarea {
    background-color: #D5EFFD!important;
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
    padding:0px;
    font-size:22px!important;
    font-family: Arial!important;
    font-weight:bold!important;
}

input:focus,
select:focus,
textarea:focus {
    outline-style: dotted;
    outline-color: yellow;
    outline-size: 2px;
}


body {
    background-color: #8c8c8c!important;
}

#resetBtn {
    cursor: pointer!important;
}

/*Only Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
 .margintop2a{
 margin-top:2px;
 }
 .margintop3{
 margin-top:10px !important;
 }
 .margintop4{
 margin-top:4px !important;
 }
 .margintop2{
 margin-top:4px !important;
 }
 .margintop10{
 margin-top:10px !important;
 }
 .margintop5{
 margin-top:5px !important;
 }
  .margintop5a{
 margin-top:-6px;
 }


}



.ticked {
    color: #FDD400!important;
}

.tick
{
cursor:pointer;
}

textarea
{
overflow:auto;
}

input::-ms-clear {
    display: none;
}
 #hide {
        background-color: #8c8c8c!important;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1000;
    } .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 #t1_2 {
     left: 264px;
     top: 111px;
     letter-spacing: -2px;
 }
 
 #t2_2 {
     left: 55px;
     top: 83px;
 }
 
 #t3_2 {
     left: 69px;
     top: 144px;
 }
 
 #t4_2 {
     left: 728px;
     top: 514px;
 }
 
 #t5_2 {
     left: 938px;
     top: 514px;
 }
 
 #form2_1 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 58px;
     top: 136px;
     width: 133px;
     height: 35px;
     text-align: left;
     background: transparent;
     font: normal 27px Arial, Helvetica, sans-serif;
 }
 
 #form2_2 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 892px;
     top: 500px;
     width: 176px;
     height: 48px;
     text-align: left;
     background: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #form2_3 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 685px;
     top: 500px;
     width: 177px;
     height: 48px;
     text-align: left;
     background: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #form2_4 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 263px;
     top: 584px;
     width: 182px;
     height: 223px;
     text-align: left;
     background: transparent;
     font: normal 177px Arial, Helvetica, sans-serif;
 }
 
 #form2_5 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 683px;
     top: 269px;
     width: 182px;
     height: 226px;
     text-align: left;
     background: transparent;
     font: normal 180px Arial, Helvetica, sans-serif;
 }
 
 #form2_6 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 263px;
     top: 271px;
     width: 184px;
     height: 225px;
     text-align: left;
     background: transparent;
     font: normal 178px Arial, Helvetica, sans-serif;
 }
 
 #form2_7 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 469px;
     top: 271px;
     width: 185px;
     height: 225px;
     text-align: left;
     background: transparent;
     font: normal 178px Arial, Helvetica, sans-serif;
 }
 
 #form2_8 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 469px;
     top: 582px;
     width: 185px;
     height: 226px;
     text-align: left;
     background: transparent;
     font: normal 180px Arial, Helvetica, sans-serif;
 }
 
 #form2_9 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 891px;
     top: 268px;
     width: 185px;
     height: 226px;
     text-align: left;
     background: transparent;
     font: normal 180px Arial, Helvetica, sans-serif;
 }
 
 #t6_2 {
     left: 688px;
     top: 164px;
     letter-spacing: -2px;
 }
 
 .s1_2 {
     FONT-SIZE: 305px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 255, 255);
 }
 
 .s4_2 {
     FONT-SIZE: 91px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(255, 255, 255);
 }
 
 .s2_2 {
     FONT-SIZE: 85px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 255, 255);
 }
 
 .s3_2 {
     FONT-SIZE: 55px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(0, 0, 0);
 }

 /*app.css*/
@font-face {
    font-family: HelveticaNeue-Medium;
    src :url("../fonts/HelveticaNeue-Medium.eot");
    src :url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeue-Medium.ttf") format('truetype');
}

@font-face {
    font-family: MajemaSkol;
    src :url("../fonts/MajemaSkol.eot");
    src :url("../fonts/MajemaSkol.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MajemaSkol.woff") format("woff"),
    url("../fonts/MajemaSkol.ttf") format('truetype');
}

@font-face {
    font-family: Gotham-Medium;
    src :url("../fonts/Gotham-Medium.eot");
    src :url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gotham-Medium.woff") format("woff"),
    url("../fonts/Gotham-Medium.ttf") format('truetype');
}

@font-face {
    font-family: HelveticaNeue-Light;
    src :url("../fonts/HelveticaNeue-Light.eot");
    src :url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Light.woff") format("woff"),
    url("../fonts/HelveticaNeue-Light.ttf") format('truetype');
}

@font-face {
    font-family: DonSemiformal;
    src :url("../fonts/DonSemiformal.eot");
    src :url("../fonts/DonSemiformal.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DonSemiformal.woff") format("woff"),
    url("../fonts/DonSemiformal.ttf") format('truetype');
}

body:-webkit-full-screen {
    width: 100%;
    height: 100%;
}
body::-ms-backdrop {
    /*background: url("assets/bg.png") repeat scroll 0 0 transparent;*/
}
body {
    margin: 0;
}
#left {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: -20px;
    z-index: 5;

    width: 0;
    overflow: hidden;

    transition-timing-function: ease;
    transition-duration: 200ms;

    border-right: 1px solid #555;
}
#leftNav {
    display: none;
    height: 32px;
    padding-top: 7px;
    padding-left: 5px;

    border-bottom: 1px solid #555;
    /*background: url("assets.png") repeat scroll 0 -24px transparent;*/ /* Background pattern courtesy of http://subtlepatterns.com/mocha-grunge/ */
}
#leftContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: scroll;

    background-color: rgba(0,0,0,.5);
}
#outlinePanel {
    display: none;
}
#main {
    position: absolute;
    right: 0;
    left: 0;

    height: 100%;

    transition-timing-function: ease;
    transition-duration: 200ms;
}
#mainNav {
    top: 0;
    z-index: 999;

    height: 32px;
    padding-top: 7px;
    padding-right: 30px;
    overflow: hidden;

    text-align: center;
    white-space: nowrap;

    border-bottom: 1px solid #555;
    /*background: url("assets.png") repeat scroll 0 -24px transparent;  Background pattern courtesy of http://subtlepatterns.com/mocha-grunge/ */
}
#btnSideToggle {
    display: inline;
    float: left;
    margin-left: 7px;
}
#pgCount {
    font-family: Arial;
    font-size: 14px;

    vertical-align: middle;

    color: rgb(255, 255, 255);
}
#btnSelect,
#btnZoomOut {
    margin-left: 20px;
}
#btnFullscreen {
    position: fixed;
    right: 7px;
}
#btnDownload {
    position: fixed;
    right: 40px;
}
.navBtn {
    display: inline-block;
    width: 24px;
    height: 24px;

    border: 1px solid white;
    border-radius: 5px;
    /*background: url("assets.png");*/
}
.navBtn:hover {
    cursor: pointer;

    -webkit-box-shadow: 0 0 8px white;
            box-shadow: 0 0 4px white;
}
.navBtn:active {
    opacity: .6;
}
#btnPrev {
    background-position: -120px 0;
}
#btnNext {
    background-position: -72px 0;
}
#btnSelect {
    background-position: -144px 0;
}
#btnMove {
    background-position: -48px 0;
}
#btnZoomOut {
    background-position: -240px 0;
}
#btnZoomIn {
    background-position: -216px 0;
}
#btnFullscreen.closed {
    background-position: 0 0;
}
#btnFullscreen.open {
    background-position: -24px 0;
}
#btnSideToggle {
    background-position: -192px 0;
}
#btnThumbnails {
    background-position: -168px 0;
}
#btnOutlines {
    background-position: -96px 0;
}
#btnDownload {
    background-position: -264px 0;
}
#mainContent {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;
}
#contentContainer {
    padding: 3px;
    margin: 0 auto;
    overflow: hidden;
}
.inactive {
    cursor: default !important;

    opacity: .6;
    -webkit-box-shadow: 0 0 0 white !important;
            box-shadow: 0 0 0 white !important;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
#goBtn {
    width: 55px;
    height: 23px;

    vertical-align: middle;

    color: white;
    background-color: #b0b0b0;
}
#mainNav * {
    vertical-align: middle;
}
#zoomBtn {
    width: 95px;
    height: 25px;

    color: white;
    background-color: #b0b0b0;
}
.thumbnail {
    width: 164px;
    padding: 5px 0;
    margin: 0 auto;

    cursor: pointer;
    text-align: center;
}
.thumbnail img {
    max-width: 160px;

    border: 2px solid #b0b0b0;
    border-radius: 3px;
}
.thumbnail img:hover {
    border: 2px solid #0026ff;
}
.currentPageThumbnail img {
    border: 2px solid #ffd900;
}
#outlinePanel ul {
    padding: 0 5px;

    list-style-type: none;
}
#outlinePanel ul ul {
    padding-right: 0;
    padding-left: 15px;
}
#outlinePanel li {
    padding: 2px;

    font-family: Arial;
    font-size: 15px;

    color: white;
}
#outlinePanel li:hover {
    cursor: pointer;

    background-color: rgba(0,0,0,.3);
}
.customNavLink {
    margin-right: 15px;
}
.customNavLink img {
    width: auto;
    height: 27px;
    margin-top: -3px;

    border: 0 !important;
    border-radius: 0 !important;
}

div#mainNav {
    display: none;
}

div#mainContent {
    top: 0!important;
}

input[type=text],
textarea {
    background-color: #D5EFFD!important;
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
    padding:0px;
    font-size:22px!important;
    font-family: Arial!important;
    font-weight:bold!important;
}

input:focus,
select:focus,
textarea:focus {
    outline-style: dotted;
    outline-color: yellow;
    outline-size: 2px;
}


body {
    background-color: #8c8c8c!important;
}

#resetBtn {
    cursor: pointer!important;
}

/*Only Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
 .margintop2a{
 margin-top:2px;
 }
 .margintop3{
 margin-top:10px !important;
 }
 .margintop4{
 margin-top:4px !important;
 }
 .margintop2{
 margin-top:4px !important;
 }
 .margintop10{
 margin-top:10px !important;
 }
 .margintop5{
 margin-top:5px !important;
 }
  .margintop5a{
 margin-top:-6px;
 }


}



.ticked {
    color: #FDD400!important;
}

.tick
{
cursor:pointer;
}

textarea
{
overflow:auto;
}

input::-ms-clear {
    display: none;
}
 #hide {
        background-color: #8c8c8c!important;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1000;
    }
