 .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 #t1_9 {
     left: 69px;
     top: 197px;
 }
 
 #t2_9 {
     left: 69px;
     top: 144px;
 }
 
 #t3_9 {
     left: 69px;
     top: 250px;
 }
 
 #t4_9 {
     left: 69px;
     top: 303px;
 }
 
 #t5_9 {
     left: 265px;
     top: 383px;
     letter-spacing: 2px;
 }
 
 #t6_9 {
     left: 775px;
     top: 383px;
     letter-spacing: 2px;
 }
 
 #t7_9 {
     left: 265px;
     top: 438px;
     letter-spacing: 3px;
 }
 
 #t8_9 {
     left: 594px;
     top: 438px;
     letter-spacing: 3px;
 }
 
 #t9_9 {
     left: 931px;
     top: 438px;
 }
 
 #ta_9 {
     left: 989px;
     top: 1077px;
     letter-spacing: 6px;
 }
 
 #tb_9 {
     left: 265px;
     top: 43px;
     letter-spacing: -6px;
 }
 
 #tc_9 {
     left: 265px;
     top: 340px;
     letter-spacing: 1px;
 }
 
 #td_9 {
     left: 407px;
     top: 223px;
     letter-spacing: 2px;
 }
 
 #te_9 {
     left: 559px;
     top: 207px;
 }
 
 #tf_9 {
     left: 749px;
     top: 217px;
     letter-spacing: 1px;
 }
 
 #tg_9 {
     left: 802px;
     top: 77px;
     letter-spacing: 1px;
 }
 
 #th_9 {
     left: 877px;
     top: 77px;
 }
 
 #ti_9 {
     left: 802px;
     top: 99px;
     letter-spacing: 1px;
 }
 
 #form9_1 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 74px;
     top: 584px;
     width: 29px;
     height: 28px;
     text-align: left;
     background: transparent;
     font: normal 21px Arial, Helvetica, sans-serif;
 }
 
 #form9_2 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 55px;
     top: 190px;
     width: 132px;
     height: 35px;
     text-align: left;
     background: transparent;
     font: normal 27px Arial, Helvetica, sans-serif;
 }
 
 #form9_3 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 58px;
     top: 135px;
     width: 130px;
     height: 37px;
     text-align: left;
     background: transparent;
     font: normal 29px Arial, Helvetica, sans-serif;
 }
 
 #form9_4 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 55px;
     top: 243px;
     width: 136px;
     height: 37px;
     text-align: left;
     background: transparent;
     font: normal 29px Arial, Helvetica, sans-serif;
 }
 
 #form9_5 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 55px;
     top: 289px;
     width: 141px;
     height: 44px;
     text-align: left;
     background: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P09_T01 {
     z-index: 2;
     position: absolute;
     left: 610px;
     top: 400px;
     width: 147px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P09_T02 {
     z-index: 2;
     position: absolute;
     left: 416px;
     top: 453px;
     width: 150px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SI_P09_T03 {
     z-index: 2;
     position: absolute;
     left: 773px;
     top: 453px;
     width: 151px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #tl_9 {
     left: 55px;
     top: 83px;
 }
 
 .s6_9 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s1_9 {
     FONT-SIZE: 55px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s7_9 {
     FONT-SIZE: 85px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 255, 255);
 }
 
 .s4_9 {
     FONT-SIZE: 244px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(0, 164, 183);
 }
 
 .s5_9 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
 
 .s3_9 {
     FONT-SIZE: 48px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
 
 .s2_9 {
     FONT-SIZE: 183px;
     FONT-FAMILY: MajemaSkol;
     color: rgb(0, 0, 0);
     line-height: 150%;
 }
