 .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 #t1_7 {
     left: 69px;
     top: 197px;
 }
 
 #t2_7 {
     left: 69px;
     top: 144px;
 }
 
 #t3_7 {
     left: 69px;
     top: 250px;
 }
 
 #t4_7 {
     left: 55px;
     top: 83px;
 }
 
 #t5_7 {
     left: 266px;
     top: 127px;
     letter-spacing: 1px;
 }
 
 #t8_7 {
     left: 266px;
     top: 998px;
     letter-spacing: 1px;
 }
 
 #t9_7 {
     left: 998px;
     top: 1077px;
     letter-spacing: 5px;
 }
 
 #ta_7 {
     left: 266px;
     top: 37px;
 }
 
 #tb_7 {
     left: 288px;
     top: 212px;
     letter-spacing: 1px;
 }
 
 #tc_7 {
     left: 288px;
     top: 377px;
     letter-spacing: 1px;
 }
 
 #td_7 {
     left: 288px;
     top: 541px;
     letter-spacing: 1px;
 }
 
 #te_7 {
     left: 288px;
     top: 703px;
     letter-spacing: 1px;
 }
 
 #form7_1 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 116px;
     top: 582px;
     width: 34px;
     height: 28px;
     text-align: left;
     background: transparent;
     font: normal 21px Arial, Helvetica, sans-serif;
 }
 
 #form7_2 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 74px;
     top: 579px;
     width: 29px;
     height: 32px;
     text-align: left;
     background: transparent;
     font: normal 24px Arial, Helvetica, sans-serif;
 }
 
 #form7_3 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 49px;
     top: 133px;
     width: 142px;
     height: 41px;
     text-align: left;
     background: transparent;
     font: normal 32px Arial, Helvetica, sans-serif;
 }
 
 #form7_4 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 239px;
     width: 141px;
     height: 43px;
     text-align: left;
     background: transparent;
     font: normal 33px Arial, Helvetica, sans-serif;
 }
 
 #form7_5 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 185px;
     width: 141px;
     height: 44px;
     text-align: left;
     background: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P07_T01 {
     resize: none;
     z-index: 2;
     position: absolute;
     left: 287px;
     top: 237px;
     width: 350px;
     height: 60px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P07_T02 {
     resize: none;
     z-index: 2;
     position: absolute;
     left: 287px;
     top: 405px;
     width: 440px;
     height: 60px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P07_T03 {
     resize: none;
     z-index: 2;
     position: absolute;
     left: 287px;
     top: 570px;
     width: 590px;
     height: 60px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P07_T05 {
     resize: none;
     z-index: 2;
     position: absolute;
     left: 283px;
     top: 892px;
     width: 590px;
     height: 60px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P07_T04 {
     resize: none;
     z-index: 2;
     position: absolute;
     left: 285px;
     top: 729px;
     width: 590px;
     height: 60px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #tf_7 {
     left: 288px;
     top: 867px;
     letter-spacing: 1px;
 }
 
 .s2_7 {
     FONT-SIZE: 85px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 255, 255);
 }
 
 .s1_7 {
     FONT-SIZE: 55px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s5_7 {
     FONT-SIZE: 48px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
 
 .s4_7 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s3_7 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
 
 .s6_7 {
     FONT-SIZE: 244px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(247, 166, 0);
 }
