<!DOCTYPE html >
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Rasten</title>
<!--     <script src="../../assets/dom-extensions.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../../assets/app.min.css">
    <link rel="stylesheet" type="text/css" href="10/10.min.css"> -->
</head>

<body>
    <div id="hide"></div>
    <div id="left">
        <div id="leftNav">
            <div id="btnThumbnails" onclick="IDRViewer.toggleOutlines(false)" title="Thumbnails" class="navBtn inactive"></div>
            <div id="btnOutlines" onclick="IDRViewer.toggleOutlines(true)" title="Bookmarks" class="navBtn inactive"></div>
        </div>
        <div id="leftContent">
            <!-- <div id="thumbnailPanel"></div> -->
            <div id="outlinePanel"></div>
        </div>
    </div>
    <div id="main">
        <div id="mainNav">
            <div id="btnSideToggle" onclick="IDRViewer.toggleThumbnails();" class="navBtn">
                <div title="Sidebar"></div>
            </div>
            <div id="btnPrev" title="Previous Page" onclick="IDRViewer.prev()" class="navBtn"></div>
            <select id="goBtn" onchange="IDRViewer.goToPage(0)">
            </select>
            <span id="pgCount"></span>
            <div id="btnNext" title="Next Page" onclick="IDRViewer.next()" class="navBtn"></div>
            <div id="btnSelect" title="Select" onclick="IDRViewer.setSelectMode(0)" class="navBtn"></div>
            <div id="btnMove" title="Pan" onclick="IDRViewer.setSelectMode(1)" class="navBtn"></div>
            <div id="btnZoomOut" title="Zoom Out" onclick="IDRViewer.zoomOut()" class="navBtn"></div>
            <select id="zoomBtn" onchange="IDRViewer.zoomUpdate()">
                <option value="0">100%</option>
                <option value="1">Actual Size</option>
                <option value="2">Fit Width</option>
                <option value="3">Fit Height</option>
                <option value="4">Fit Page</option>
                <option value="5">Automatic</option>
            </select>
            <div id="btnZoomIn" title="Zoom In" onclick="IDRViewer.zoomIn()" class="navBtn"></div>
            <div id="btnFullscreen" title="Fullscreen" onclick="IDRViewer.toggleFullScreen();" class="navBtn closed"></div>
        </div>
        <div id="mainContent">
            <div id="contentContainer">
                <div id="jpedal" style="position:relative; width: 1125px; height: 1125px; overflow: hidden; margin: 0 auto; box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);">
                       <div id="t1_10" class="t s1_10" onclick = "store();" routerLink  = "/rasten" style="cursor:pointer;">Välj sida</div>
                    <div id="t2_10" class="t s1_10" onclick = "store();" routerLink = "/main" style="cursor:pointer;">Välj kapitel</div>
                    <div id="t3_10" class="t s1_10" onclick = "store();" routerLink ="/vokaler-och-konsonanter1" style="cursor:pointer;">Bokens övning</div>
                    <div id="t4_10" class="t s1_10" onclick="var list = document.getElementsByTagName('form');for(var i = 0; i < list.length; i ++) {	var form = list.item(i);	form.reset();}" style="cursor:pointer;">Rensa textfält</div>
                    <div id="t5_10" class="t s2_10">SPRÅKLÄRA</div>
                    <div id="t6_10" class="t s3_10">Tjuven har tagit vokalerna i orden!</div>
                    <div id="t7_10" class="t s3_10">Sätt tillbaka en vokal i varje ord. Skriv ordet.</div>
                    <div id="t8_10" class="t s3_10">Skriv en vokal i mitten. Gör ord.</div>
                    <div id="t9_10" class="t s4_10">b</div>
                    <div id="ta_10" class="t s4_10">t</div>
                    <div id="tb_10" class="t s4_10">s</div>
                    <div id="tc_10" class="t s4_10">k</div>
                    <div id="td_10" class="t s4_10">r</div>
                    <div id="te_10" class="t s4_10">d</div>
                    <div id="tf_10" class="t s5_10">Vokaler och konsonanter</div>
                    <div id="tg_10" class="t s6_10">RASTEN</div>
                    <!-- End text definitions -->
                    <!-- Begin Form Data -->
                    <form>
                            <input type="button" tabindex="5" id="form10_4" name="349 0 R" pdfFieldName="349 0 R" onclick = "store();" routerLink ="/vokaler-och-konsonanter2" style="cursor:pointer;" title="Vokaler och konsonanter" />
                        <input type="text" tabindex="6" maxlength="1" class="jump" id="CL_RA_P10_T01" name="P10_T01" pdfFieldName="P10_T01" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="7" maxlength="3" id="CL_RA_P10_T02" name="P10_T02" pdfFieldName="P10_T02" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="8" maxlength="1" class="jump" id="CL_RA_P10_T03" name="P10_T03" pdfFieldName="P10_T03" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="9" maxlength="3" id="CL_RA_P10_T04" name="P10_T04" pdfFieldName="P10_T04" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="10" maxlength="1" class="jump" id="CL_RA_P10_T05" name="P10_T05" pdfFieldName="P10_T05" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="11" maxlength="3" id="CL_RA_P10_T06" name="P10_T06" pdfFieldName="P10_T06" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="12" maxlength="1" id="CL_RA_P10_T07" name="P10_T07" pdfFieldName="P10_T07" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="13" maxlength="1" id="CL_RA_P10_T08" name="P10_T08" pdfFieldName="P10_T08" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="14" maxlength="1" id="CL_RA_P10_T09" name="P10_T09" pdfFieldName="P10_T09" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="15" maxlength="1" id="CL_RA_P10_T10" name="P10_T10" pdfFieldName="P10_T10" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="16" maxlength="1" id="CL_RA_P10_T11" name="P10_T11" pdfFieldName="P10_T11" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="17" maxlength="1" id="CL_RA_P10_T12" name="P10_T12" pdfFieldName="P10_T12" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="18" maxlength="1" id="CL_RA_P10_T13" name="P10_T13" pdfFieldName="P10_T13" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="19" maxlength="1" id="CL_RA_P10_T14" name="P10_T14" pdfFieldName="P10_T14" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="20" maxlength="1" id="CL_RA_P10_T15" name="P10_T15" pdfFieldName="P10_T15" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="21" maxlength="1" id="CL_RA_P10_T16" name="P10_T16" pdfFieldName="P10_T16" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="22" maxlength="1" id="CL_RA_P10_T17" name="P10_T17" pdfFieldName="P10_T17" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="23" maxlength="1" id="CL_RA_P10_T18" name="P10_T18" pdfFieldName="P10_T18" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="24" maxlength="1" id="CL_RA_P10_T19" name="P10_T19" pdfFieldName="P10_T19" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="25" maxlength="1" id="CL_RA_P10_T20" name="P10_T20" pdfFieldName="P10_T20" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="26" maxlength="1" id="CL_RA_P10_T21" name="P10_T21" pdfFieldName="P10_T21" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="button" tabindex="4" id="form10_23" name="1188 0 R" pdfFieldName="1188 0 R" onclick="var list = document.getElementsByTagName('form');
for(var i = 0; i < list.length; i ++) {
	var form = list.item(i);
	form.reset();
}" style="cursor:pointer;" />
                        <input type="button" tabindex="1" id="form10_24" name="346 0 R" pdfFieldName="346 0 R" onclick = "store();" routerLink ="/main" style="cursor:pointer;" title="Välj kapitel" />
                        <input type="button" tabindex="2" id="form10_25" name="347 0 R" pdfFieldName="347 0 R" onclick = "store();" routerLink = "/rasten" style="cursor:pointer;" title="Välj sida" />
                        <input type="button" tabindex="3" id="form10_26" name="348 0 R" pdfFieldName="348 0 R" onclick = "store();" routerLink = "/vokaler-och-konsonanter1" style="cursor:pointer;" title="Vokaler och konsonanter" />
                    </form>
                    <!-- End Form Data -->
                    <!-- Begin page background -->
                    <div id="pg10Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
                    <div id="pg10">
                        <object width="1125" height="1125" data="assets/Rasten/10/10.svg" type="image/svg+xml" id="svgImage" style="width:1125px; height:1125px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object>
                    </div>
                    <!-- End page background -->
                </div>
            </div>
        </div>
    </div>   
   <!--  <script src="../../assets/jquery.min.js"></script>
    <script src="../../assets/app_clown.min.js" type="text/javascript"></script>
    <script src="../../assets/IDRViewer.min.js" type="text/javascript"></script>
    <script src="//rum-static.pingdom.net/pa-5aab4ff34c40770007000465.js" async></script> -->
</body>

</html>
