 .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 #t1_5 {
     left: 55px;
     top: 83px;
     letter-spacing: -1px;
 }
 
 #t2_5 {
     left: 69px;
     top: 197px;
 }
 
 #t3_5 {
     left: 69px;
     top: 250px;
 }
 
 #t4_5 {
     left: 69px;
     top: 144px;
 }
 
 #t5_5 {
     left: 69px;
     top: 303px;
 }
 
 #t6_5 {
     left: 989px;
     top: 1077px;
     letter-spacing: 6px;
 }
 
 #t7_5 {
     left: 265px;
     top: 43px;
     letter-spacing: -7px;
 }
 
 #t8_5 {
     left: 265px;
     top: 448px;
     letter-spacing: 1px;
 }
 
 #t9_5 {
     left: 265px;
     top: 470px;
     letter-spacing: 1px;
 }
 
 #ta_5 {
     left: 482px;
     top: 870px;
     letter-spacing: 1px;
 }
 
 #tb_5 {
     left: 265px;
     top: 133px;
     letter-spacing: 1px;
 }
 
 #tc_5 {
     left: 300px;
     top: 220px;
     letter-spacing: 2px;
 }
 
 #td_5 {
     left: 571px;
     top: 219px;
     letter-spacing: 2px;
 }
 
 #te_5 {
     left: 289px;
     top: 283px;
     letter-spacing: 3px;
 }
 
 #tf_5 {
     left: 624px;
     top: 282px;
     letter-spacing: 2px;
 }
 
 #tg_5 {
     left: 753px;
     top: 292px;
     letter-spacing: 2px;
 }
 
 #th_5 {
     left: 943px;
     top: 213px;
     letter-spacing: 2px;
 }
 
 #ti_5 {
     left: 924px;
     top: 281px;
     letter-spacing: 2px;
 }
 
 #tj_5 {
     left: 675px;
     top: 229px;
     letter-spacing: 2px;
 }
 
 #tk_5 {
     left: 657px;
     top: 337px;
     letter-spacing: 3px;
 }
 
 #tl_5 {
     left: 957px;
     top: 339px;
     letter-spacing: 2px;
 }
 
 #tm_5 {
     left: 784px;
     top: 208px;
     letter-spacing: 2px;
 }
 
 #tn_5 {
     left: 842px;
     top: 247px;
     letter-spacing: 2px;
 }
 
 #to_5 {
     left: 805px;
     top: 359px;
     letter-spacing: 1px;
 }
 
 #tp_5 {
     left: 318px;
     top: 343px;
     letter-spacing: 2px;
 }
 
 #tq_5 {
     left: 400px;
     top: 284px;
     letter-spacing: 2px;
 }
 
 #tr_5 {
     left: 500px;
     top: 270px;
     letter-spacing: 1px;
 }
 
 #ts_5 {
     left: 444px;
     top: 335px;
 }
 
 #tt_5 {
     left: 532px;
     top: 541px;
     letter-spacing: 2px;
 }
 
 #tu_5 {
     left: 725px;
     top: 541px;
     letter-spacing: 2px;
 }
 
 #tv_5 {
     left: 933px;
     top: 541px;
     letter-spacing: 2px;
 }
 
 #tw_5 {
     left: 931px;
     top: 732px;
     letter-spacing: 2px;
 }
 
 #tx_5 {
     left: 534px;
     top: 605px;
     letter-spacing: 2px;
 }
 
 #ty_5 {
     left: 532px;
     top: 797px;
     letter-spacing: 1px;
 }
 
 #tz_5 {
     left: 727px;
     top: 668px;
     letter-spacing: 2px;
 }
 
 #t10_5 {
     left: 531px;
     top: 346px;
     letter-spacing: 2px;
 }
 
 #t11_5 {
     left: 429px;
     top: 226px;
     letter-spacing: 2px;
 }
 
 #t12_5 {
     left: 759px;
     top: 74px;
 }
 
 #t14_5 {
     left: 759px;
     top: 96px;
     letter-spacing: 1px;
 }
 
 #t15_5 {
     left: 759px;
     top: 118px;
 }
 
 #t16_5 {
     left: 759px;
     top: 140px;
 }
 
 #t17_5 {
     left: 530px;
     top: 519px;
     letter-spacing: 1px;
 }
 
 #t18_5 {
     left: 719px;
     top: 519px;
     letter-spacing: 1px;
 }
 
 #form5_1 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 119px;
     top: 581px;
     width: 28px;
     height: 31px;
     text-align: left;
     background: transparent;
     font: normal 24px Arial, Helvetica, sans-serif;
 }
 
 #form5_2 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 75px;
     top: 582px;
     width: 28px;
     height: 31px;
     text-align: left;
     background: transparent;
     font: normal 24px Arial, Helvetica, sans-serif;
 }
 
 #form5_3 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 135px;
     width: 139px;
     height: 38px;
     text-align: left;
     background: transparent;
     font: normal 30px Arial, Helvetica, sans-serif;
 }
 
 #form5_4 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 239px;
     width: 138px;
     height: 41px;
     text-align: left;
     background: transparent;
     font: normal 32px Arial, Helvetica, sans-serif;
 }
 
 #form5_5 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 185px;
     width: 141px;
     height: 44px;
     text-align: left;
     background: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #form5_6 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 292px;
     width: 141px;
     height: 44px;
     text-align: left;
     background: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T01 {
     z-index: 2;
     position: absolute;
     left: 678px;
     top: 616px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T02 {
     z-index: 2;
     position: absolute;
     left: 878px;
     top: 616px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T03 {
     z-index: 2;
     position: absolute;
     left: 475px;
     top: 680px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T04 {
     z-index: 2;
     position: absolute;
     left: 878px;
     top: 680px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T05 {
     z-index: 2;
     position: absolute;
     left: 475px;
     top: 745px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T06 {
     z-index: 2;
     position: absolute;
     left: 678px;
     top: 745px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T08 {
     z-index: 2;
     position: absolute;
     left: 678px;
     top: 810px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T09 {
     z-index: 2;
     position: absolute;
     left: 878px;
     top: 810px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T10 {
     z-index: 2;
     position: absolute;
     left: 475px;
     top: 903px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T11 {
     z-index: 2;
     position: absolute;
     left: 678px;
     top: 903px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T13 {
     z-index: 2;
     position: absolute;
     left: 878px;
     top: 903px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T14 {
     z-index: 2;
     position: absolute;
     left: 475px;
     top: 967px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T15 {
     z-index: 2;
     position: absolute;
     left: 678px;
     top: 967px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #CL_ST_P05_T16 {
     z-index: 2;
     position: absolute;
     left: 878px;
     top: 967px;
     width: 180px;
     height: 45px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 18px Arial, Helvetica, sans-serif;
 }
 
 #t19_5 {
     left: 931px;
     top: 519px;
     letter-spacing: 1px;
 }
 
 .s2_5 {
     FONT-SIZE: 55px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s1_5 {
     FONT-SIZE: 85px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 255, 255);
 }
 
 .s7_5 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s3_5 {
     FONT-SIZE: 48px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
 
 .s4_5 {
     FONT-SIZE: 244px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(230, 49, 14);
 }
 
 .s5_5 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
 
 .s6_5 {
     FONT-SIZE: 183px;
     FONT-FAMILY: MajemaSkol;
     color: rgb(0, 0, 0);
     line-height: 160%;
 }
