
/*app.css*/
@font-face {
    font-family: HelveticaNeue-Medium;
    src :url("../fonts/HelveticaNeue-Medium.eot");
    src :url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeue-Medium.ttf") format('truetype');
}

@font-face {
    font-family: MajemaSkol;
    src :url("../fonts/MajemaSkol.eot");
    src :url("../fonts/MajemaSkol.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MajemaSkol.woff") format("woff"),
    url("../fonts/MajemaSkol.ttf") format('truetype');
}

@font-face {
    font-family: Gotham-Medium;
    src :url("../fonts/Gotham-Medium.eot");
    src :url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gotham-Medium.woff") format("woff"),
    url("../fonts/Gotham-Medium.ttf") format('truetype');
}

@font-face {
    font-family: HelveticaNeue-Light;
    src :url("../fonts/HelveticaNeue-Light.eot");
    src :url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Light.woff") format("woff"),
    url("../fonts/HelveticaNeue-Light.ttf") format('truetype');
}

@font-face {
    font-family: DonSemiformal;
    src :url("../fonts/DonSemiformal.eot");
    src :url("../fonts/DonSemiformal.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DonSemiformal.woff") format("woff"),
    url("../fonts/DonSemiformal.ttf") format('truetype');
}

body:-webkit-full-screen {
    width: 100%;
    height: 100%;
}
body::-ms-backdrop {
    /*background: url("assets/bg.png") repeat scroll 0 0 transparent;*/
}
body {
    margin: 0;
}
#left {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: -20px;
    z-index: 5;

    width: 0;
    overflow: hidden;

    transition-timing-function: ease;
    transition-duration: 200ms;

    border-right: 1px solid #555;
}
#leftNav {
    display: none;
    height: 32px;
    padding-top: 7px;
    padding-left: 5px;

    border-bottom: 1px solid #555;
    /*background: url("assets.png") repeat scroll 0 -24px transparent;*/ /* Background pattern courtesy of http://subtlepatterns.com/mocha-grunge/ */
}
#leftContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: scroll;

    background-color: rgba(0,0,0,.5);
}
#outlinePanel {
    display: none;
}
#main {
    position: absolute;
    right: 0;
    left: 0;

    height: 100%;

    transition-timing-function: ease;
    transition-duration: 200ms;
}
#mainNav {
    top: 0;
    z-index: 999;

    height: 32px;
    padding-top: 7px;
    padding-right: 30px;
    overflow: hidden;

    text-align: center;
    white-space: nowrap;

    border-bottom: 1px solid #555;
    /*background: url("assets.png") repeat scroll 0 -24px transparent;  Background pattern courtesy of http://subtlepatterns.com/mocha-grunge/ */
}
#btnSideToggle {
    display: inline;
    float: left;
    margin-left: 7px;
}
#pgCount {
    font-family: Arial;
    font-size: 14px;

    vertical-align: middle;

    color: rgb(255, 255, 255);
}
#btnSelect,
#btnZoomOut {
    margin-left: 20px;
}
#btnFullscreen {
    position: fixed;
    right: 7px;
}
#btnDownload {
    position: fixed;
    right: 40px;
}
.navBtn {
    display: inline-block;
    width: 24px;
    height: 24px;

    border: 1px solid white;
    border-radius: 5px;
    /*background: url("assets.png");*/
}
.navBtn:hover {
    cursor: pointer;

    -webkit-box-shadow: 0 0 8px white;
            box-shadow: 0 0 4px white;
}
.navBtn:active {
    opacity: .6;
}
#btnPrev {
    background-position: -120px 0;
}
#btnNext {
    background-position: -72px 0;
}
#btnSelect {
    background-position: -144px 0;
}
#btnMove {
    background-position: -48px 0;
}
#btnZoomOut {
    background-position: -240px 0;
}
#btnZoomIn {
    background-position: -216px 0;
}
#btnFullscreen.closed {
    background-position: 0 0;
}
#btnFullscreen.open {
    background-position: -24px 0;
}
#btnSideToggle {
    background-position: -192px 0;
}
#btnThumbnails {
    background-position: -168px 0;
}
#btnOutlines {
    background-position: -96px 0;
}
#btnDownload {
    background-position: -264px 0;
}
#mainContent {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;
}
#contentContainer {
    padding: 3px;
    margin: 0 auto;
    overflow: hidden;
}
.inactive {
    cursor: default !important;

    opacity: .6;
    -webkit-box-shadow: 0 0 0 white !important;
            box-shadow: 0 0 0 white !important;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
#goBtn {
    width: 55px;
    height: 23px;

    vertical-align: middle;

    color: white;
    background-color: #b0b0b0;
}
#mainNav * {
    vertical-align: middle;
}
#zoomBtn {
    width: 95px;
    height: 25px;

    color: white;
    background-color: #b0b0b0;
}
.thumbnail {
    width: 164px;
    padding: 5px 0;
    margin: 0 auto;

    cursor: pointer;
    text-align: center;
}
.thumbnail img {
    max-width: 160px;

    border: 2px solid #b0b0b0;
    border-radius: 3px;
}
.thumbnail img:hover {
    border: 2px solid #0026ff;
}
.currentPageThumbnail img {
    border: 2px solid #ffd900;
}
#outlinePanel ul {
    padding: 0 5px;

    list-style-type: none;
}
#outlinePanel ul ul {
    padding-right: 0;
    padding-left: 15px;
}
#outlinePanel li {
    padding: 2px;

    font-family: Arial;
    font-size: 15px;

    color: white;
}
#outlinePanel li:hover {
    cursor: pointer;

    background-color: rgba(0,0,0,.3);
}
.customNavLink {
    margin-right: 15px;
}
.customNavLink img {
    width: auto;
    height: 27px;
    margin-top: -3px;

    border: 0 !important;
    border-radius: 0 !important;
}

div#mainNav {
    display: none;
}

div#mainContent {
    top: 0!important;
}

input[type=text],
textarea {
    background-color: #D5EFFD!important;
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
    padding:0px;
    font-size:22px!important;
    font-family: Arial!important;
    font-weight:bold!important;
}

input:focus,
select:focus,
textarea:focus {
    outline-style: dotted;
    outline-color: yellow;
    outline-size: 2px;
}


body {
    background-color: #8c8c8c!important;
}

#resetBtn {
    cursor: pointer!important;
}

/*Only Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
 .margintop2a{
 margin-top:2px;
 }
 .margintop3{
 margin-top:10px !important;
 }
 .margintop4{
 margin-top:4px !important;
 }
 .margintop2{
 margin-top:4px !important;
 }
 .margintop10{
 margin-top:10px !important;
 }
 .margintop5{
 margin-top:5px !important;
 }
  .margintop5a{
 margin-top:-6px;
 }


}



.ticked {
    color: #FDD400!important;
}

.tick
{
cursor:pointer;
}

textarea
{
overflow:auto;
}

input::-ms-clear {
    display: none;
}
 #hide {
        background-color: #8c8c8c!important;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1000;
    } .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 #t1_10 {
     left: 69px;
     top: 197px;
 }
 
 #t2_10 {
     left: 69px;
     top: 144px;
 }
 
 #t3_10 {
     left: 69px;
     top: 250px;
 }
 
 #t4_10 {
     left: 69px;
     top: 303px;
 }
 
 #t5_10 {
     left: 266px;
     top: 457px;
     letter-spacing: 1px;
 }
 
 #t6_10 {
     left: 266px;
     top: 479px;
     letter-spacing: 1px;
 }
 
 #t7_10 {
     left: 483px;
     top: 520px;
     letter-spacing: 1px;
 }
 
 #t8_10 {
     left: 441px;
     top: 871px;
     letter-spacing: 1px;
 }
 
 #t9_10 {
     left: 651px;
     top: 520px;
     letter-spacing: 1px;
 }
 
 #ta_10 {
     left: 798px;
     top: 520px;
     letter-spacing: 1px;
 }
 
 #tb_10 {
     left: 946px;
     top: 520px;
     letter-spacing: 1px;
 }
 
 #tc_10 {
     left: 990px;
     top: 1077px;
     letter-spacing: 6px;
 }
 
 #td_10 {
     left: 266px;
     top: 44px;
 }
 
 #te_10 {
     left: 266px;
     top: 134px;
     letter-spacing: 1px;
 }
 
 #tf_10 {
     left: 595px;
     top: 249px;
     letter-spacing: 2px;
 }
 
 #tg_10 {
     left: 669px;
     top: 183px;
     letter-spacing: 1px;
 }
 
 #th_10 {
     left: 687px;
     top: 341px;
     letter-spacing: 2px;
 }
 
 #ti_10 {
     left: 762px;
     top: 265px;
     letter-spacing: 3px;
 }
 
 #tj_10 {
     left: 326px;
     top: 294px;
     letter-spacing: 2px;
 }
 
 #tk_10 {
     left: 442px;
     top: 257px;
     letter-spacing: 2px;
 }
 
 #tl_10 {
     left: 487px;
     top: 550px;
     letter-spacing: 2px;
 }
 
 #tm_10 {
     left: 633px;
     top: 550px;
     letter-spacing: 2px;
 }
 
 #tn_10 {
     left: 793px;
     top: 550px;
     letter-spacing: 2px;
 }
 
 #to_10 {
     left: 941px;
     top: 550px;
     letter-spacing: 2px;
 }
 
 #tp_10 {
     left: 628px;
     top: 738px;
     letter-spacing: 2px;
 }
 
 #tq_10 {
     left: 934px;
     top: 806px;
     letter-spacing: 2px;
 }
 
 #tr_10 {
     left: 483px;
     top: 613px;
     letter-spacing: 2px;
 }
 
 #ts_10 {
     left: 786px;
     top: 677px;
     letter-spacing: 1px;
 }
 
 #tt_10 {
     left: 470px;
     top: 335px;
     letter-spacing: 2px;
 }
 
 #tu_10 {
     left: 379px;
     top: 211px;
     letter-spacing: 2px;
 }
 
 #tv_10 {
     left: 919px;
     top: 79px;
     letter-spacing: 1px;
 }
 
 #tx_10 {
     left: 919px;
     top: 101px;
     letter-spacing: 1px;
 }
 
 #ty_10 {
     left: 919px;
     top: 123px;
     letter-spacing: 1px;
 }
 
 #tz_10 {
     left: 919px;
     top: 145px;
     letter-spacing: 1px;
 }
 
 #t10_10 {
     left: 919px;
     top: 167px;
 }
 
 #form10_1 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 72px;
     top: 578px;
     width: 31px;
     height: 37px;
     text-align: left;
     background: transparent;
     font: normal 29px Arial, Helvetica, sans-serif;
 }
 
 #form10_2 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 115px;
     top: 579px;
     width: 32px;
     height: 35px;
     text-align: left;
     background: transparent;
     font: normal 27px Arial, Helvetica, sans-serif;
 }
 
 #form10_3 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 187px;
     width: 144px;
     height: 41px;
     text-align: left;
     background: transparent;
     font: normal 32px Arial, Helvetica, sans-serif;
 }
 
 #form10_4 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 237px;
     width: 139px;
     height: 43px;
     text-align: left;
     background: transparent;
     font: normal 33px Arial, Helvetica, sans-serif;
 }
 
 #form10_5 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 292px;
     width: 141px;
     height: 44px;
     text-align: left;
     background: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #form10_6 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 132px;
     width: 144px;
     height: 44px;
     text-align: left;
     background: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T01 {
     z-index: 2;
     position: absolute;
     left: 595px;
     top: 620px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 44px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T02 {
     z-index: 2;
     position: absolute;
     left: 756px;
     top: 620px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 44px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T03 {
     z-index: 2;
     position: absolute;
     left: 915px;
     top: 620px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 44px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T04 {
     z-index: 2;
     position: absolute;
     left: 434px;
     top: 682px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 44px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T05 {
     z-index: 2;
     position: absolute;
     left: 595px;
     top: 682px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 44px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T06 {
     z-index: 2;
     position: absolute;
     left: 915px;
     top: 682px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 44px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T07 {
     z-index: 2;
     position: absolute;
     left: 434px;
     top: 746px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 44px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T08 {
     z-index: 2;
     position: absolute;
     left: 756px;
     top: 746px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 44px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T09 {
     z-index: 2;
     position: absolute;
     left: 915px;
     top: 746px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 44px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T10 {
     z-index: 2;
     position: absolute;
     left: 434px;
     top: 811px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 42px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T11 {
     z-index: 2;
     position: absolute;
     left: 595px;
     top: 811px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 42px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T12 {
     z-index: 2;
     position: absolute;
     left: 756px;
     top: 811px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 44px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T13 {
     z-index: 2;
     position: absolute;
     left: 434px;
     top: 907px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 48px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T14 {
     z-index: 2;
     position: absolute;
     left: 595px;
     top: 907px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 48px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T15 {
     z-index: 2;
     position: absolute;
     left: 756px;
     top: 907px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 48px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T16 {
     z-index: 2;
     position: absolute;
     left: 915px;
     top: 907px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 48px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T17 {
     z-index: 2;
     position: absolute;
     left: 434px;
     top: 968px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 48px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T18 {
     z-index: 2;
     position: absolute;
     left: 595px;
     top: 968px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 48px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T19 {
     z-index: 2;
     position: absolute;
     left: 756px;
     top: 968px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 48px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P10_T20 {
     z-index: 2;
     position: absolute;
     left: 915px;
     top: 968px;
     width: 145px;
     height: 42px;
     text-align: center;
     background: transparent;
     border-color: transparent;
     font: normal 48px Arial, Helvetica, sans-serif;
 }
 
 #t11_10 {
     left: 55px;
     top: 83px;
 }
 
 .s1_10 {
     FONT-SIZE: 55px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s6_10 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s3_10 {
     FONT-SIZE: 48px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
 
 .s5_10 {
     FONT-SIZE: 183px;
     FONT-FAMILY: MajemaSkol;
     color: rgb(0, 0, 0);
     line-height: 140%;
 }
 
 .s7_10 {
     FONT-SIZE: 85px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 255, 255);
 }
 
 .s4_10 {
     FONT-SIZE: 244px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(247, 166, 0);
 }
 
 .s2_10 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
