 .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 #t1_9 {
     left: 69px;
     top: 197px;
 }
 
 #t2_9 {
     left: 69px;
     top: 144px;
 }
 
 #t3_9 {
     left: 69px;
     top: 250px;
 }
 
 #t4_9 {
     left: 69px;
     top: 303px;
 }
 
 #t5_9 {
     left: 989px;
     top: 1077px;
     letter-spacing: 6px;
 }
 
 #t6_9 {
     left: 265px;
     top: 467px;
     letter-spacing: 1px;
 }
 
 #t7_9 {
     left: 265px;
     top: 522px;
     letter-spacing: 1px;
 }
 
 #t8_9 {
     left: 472px;
     top: 522px;
     letter-spacing: 1px;
 }
 
 #t9_9 {
     left: 309px;
     top: 270px;
 }
 
 #ta_9 {
     left: 460px;
     top: 219px;
     letter-spacing: 1px;
 }
 
 #tb_9 {
     left: 504px;
     top: 268px;
     letter-spacing: 1px;
 }
 
 #tc_9 {
     left: 392px;
     top: 316px;
 }
 
 #td_9 {
     left: 578px;
     top: 216px;
     letter-spacing: 1px;
 }
 
 #te_9 {
     left: 309px;
     top: 182px;
     letter-spacing: 2px;
 }
 
 #tf_9 {
     left: 566px;
     top: 316px;
     letter-spacing: 1px;
 }
 
 #tg_9 {
     left: 652px;
     top: 262px;
     letter-spacing: 1px;
 }
 
 #th_9 {
     left: 628px;
     top: 162px;
 }
 
 #ti_9 {
     left: 427px;
     top: 155px;
     letter-spacing: 1px;
 }
 
 #tj_9 {
     left: 265px;
     top: 573px;
     letter-spacing: 2px;
 }
 
 #tk_9 {
     left: 472px;
     top: 573px;
     letter-spacing: 2px;
 }
 
 #tl_9 {
     left: 265px;
     top: 43px;
 }
 
 #tm_9 {
     left: 853px;
     top: 146px;
     letter-spacing: 6px;
 }
 
 #tn_9 {
     left: 853px;
     top: 182px;
     letter-spacing: 1px;
 }
 
 #tp_9 {
     left: 1043px;
     top: 182px;
 }
 
 #tq_9 {
     left: 882px;
     top: 213px;
     letter-spacing: 1px;
 }
 
 #tt_9 {
     left: 882px;
     top: 243px;
     letter-spacing: 1px;
 }
 
 #form9_1 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 118px;
     top: 579px;
     width: 29px;
     height: 35px;
     text-align: left;
     background: transparent;
     font: normal 27px Arial, Helvetica, sans-serif;
 }
 
 #form9_2 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 70px;
     top: 579px;
     width: 32px;
     height: 35px;
     text-align: left;
     background: transparent;
     font: normal 27px Arial, Helvetica, sans-serif;
 }
 
 #form9_3 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 135px;
     width: 141px;
     height: 40px;
     text-align: left;
     background: transparent;
     font: normal 30px Arial, Helvetica, sans-serif;
 }
 
 #form9_4 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 187px;
     width: 142px;
     height: 41px;
     text-align: left;
     background: transparent;
     font: normal 32px Arial, Helvetica, sans-serif;
 }
 
 #form9_5 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 51px;
     top: 240px;
     width: 142px;
     height: 41px;
     text-align: left;
     background: transparent;
     font: normal 32px Arial, Helvetica, sans-serif;
 }
 
 #form9_6 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 289px;
     width: 141px;
     height: 44px;
     text-align: left;
     background: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #CL_SK_P09_T01 {
     z-index: 2;
     position: absolute;
     left: 264px;
     top: 639px;
     width: 162px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SK_P09_T04 {
     z-index: 2;
     position: absolute;
     left: 264px;
     top: 802px;
     width: 162px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SK_P09_T03 {
     z-index: 2;
     position: absolute;
     left: 264px;
     top: 747px;
     width: 162px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SK_P09_T02 {
     z-index: 2;
     position: absolute;
     left: 264px;
     top: 694px;
     width: 162px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SK_P09_T05 {
     z-index: 2;
     position: absolute;
     left: 264px;
     top: 856px;
     width: 162px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SK_P09_T09 {
     z-index: 2;
     position: absolute;
     left: 471px;
     top: 802px;
     width: 164px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SK_P09_T08 {
     z-index: 2;
     position: absolute;
     left: 471px;
     top: 747px;
     width: 164px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SK_P09_T07 {
     z-index: 2;
     position: absolute;
     left: 471px;
     top: 694px;
     width: 164px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SK_P09_T10 {
     z-index: 2;
     position: absolute;
     left: 471px;
     top: 856px;
     width: 164px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_SK_P09_T06 {
     z-index: 2;
     position: absolute;
     left: 471px;
     top: 639px;
     width: 164px;
     height: 41px;
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #tw_9 {
     left: 55px;
     top: 83px;
     letter-spacing: -1px;
 }
 
 .s1_9 {
     FONT-SIZE: 55px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s6_9 {
     FONT-SIZE: 244px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 204, 0);
 }
 
 .s3_9 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
 
 .s8_9 {
     FONT-SIZE: 85px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 255, 255);
 }
 
 .s5_9 {
     FONT-SIZE: 183px;
     FONT-FAMILY: MajemaSkol;
     color: rgb(0, 0, 0);
     line-height: 170%;
 }
 
 .s7_9 {
     FONT-SIZE: 110px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
 
 .s4_9 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s2_9 {
     FONT-SIZE: 48px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
