 .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 #t1_2 {
     left: 264px;
     top: 111px;
     letter-spacing: -1px;
 }
 
 #t2_2 {
     left: 55px;
     top: 83px;
 }
 
 #t3_2 {
     left: 520px;
     top: 514px;
 }
 
 #t4_2 {
     left: 729px;
     top: 514px;
 }
 
 #t5_2 {
     left: 688px;
     top: 164px;
     letter-spacing: -2px;
 }
 
 #form2_1 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 133px;
     width: 138px;
     height: 40px;
     text-align: left;
     background: transparent;
     font: normal 30px Arial, Helvetica, sans-serif;
 }
 
 #form2_2 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 685px;
     top: 503px;
     width: 176px;
     height: 44px;
     text-align: left;
     background: transparent;
     font: normal 35px Arial, Helvetica, sans-serif;
 }
 
 #form2_3 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 478px;
     top: 500px;
     width: 173px;
     height: 46px;
     text-align: left;
     background: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #form2_4 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 472px;
     top: 269px;
     width: 182px;
     height: 225px;
     text-align: left;
     background: transparent;
     font: normal 178px Arial, Helvetica, sans-serif;
 }
 
 #form2_5 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 261px;
     top: 584px;
     width: 184px;
     height: 225px;
     text-align: left;
     background: transparent;
     font: normal 178px Arial, Helvetica, sans-serif;
 }
 
 #form2_6 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 680px;
     top: 271px;
     width: 185px;
     height: 223px;
     text-align: left;
     background: transparent;
     font: normal 177px Arial, Helvetica, sans-serif;
 }
 
 #form2_7 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 263px;
     top: 271px;
     width: 187px;
     height: 222px;
     text-align: left;
     background: transparent;
     font: normal 177px Arial, Helvetica, sans-serif;
 }
 
 #form2_8 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 474px;
     top: 584px;
     width: 184px;
     height: 228px;
     text-align: left;
     background: transparent;
     font: normal 181px Arial, Helvetica, sans-serif;
 }
 
 #form2_9 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 888px;
     top: 271px;
     width: 187px;
     height: 225px;
     text-align: left;
     background: transparent;
     font: normal 178px Arial, Helvetica, sans-serif;
 }
 
 #t6_2 {
     left: 69px;
     top: 144px;
 }
 
 .s1_2 {
     FONT-SIZE: 305px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 255, 255);
 }
 
 .s4_2 {
     FONT-SIZE: 91px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(255, 255, 255);
 }
 
 .s2_2 {
     FONT-SIZE: 85px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 255, 255);
 }
 
 .s5_2 {
     FONT-SIZE: 61px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s3_2 {
     FONT-SIZE: 55px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(0, 0, 0);
 }
