<!DOCTYPE html >
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Halloween</title>
<!--     <script src="../../assets/dom-extensions.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../../assets/app.min.css">
    <link rel="stylesheet" type="text/css" href="05/5.min.css"> -->
</head>

<body>
    <div id="hide"></div>
    <div id="left">
        <div id="leftNav">
            <div id="btnThumbnails" onclick="IDRViewer.toggleOutlines(false)" title="Thumbnails" class="navBtn inactive"></div>
            <div id="btnOutlines" onclick="IDRViewer.toggleOutlines(true)" title="Bookmarks" class="navBtn inactive"></div>
        </div>
        <div id="leftContent">
            <!-- <div id="thumbnailPanel"></div> -->
            <div id="outlinePanel"></div>
        </div>
    </div>
    <div id="main">
        <div id="mainNav">
            <div id="btnSideToggle" onclick="IDRViewer.toggleThumbnails();" class="navBtn">
                <div title="Sidebar"></div>
            </div>
            <div id="btnPrev" title="Previous Page" onclick="IDRViewer.prev()" class="navBtn"></div>
            <select id="goBtn" onchange="IDRViewer.goToPage(0)">
            </select>
            <span id="pgCount"></span>
            <div id="btnNext" title="Next Page" onclick="IDRViewer.next()" class="navBtn"></div>
            <div id="btnSelect" title="Select" onclick="IDRViewer.setSelectMode(0)" class="navBtn"></div>
            <div id="btnMove" title="Pan" onclick="IDRViewer.setSelectMode(1)" class="navBtn"></div>
            <div id="btnZoomOut" title="Zoom Out" onclick="IDRViewer.zoomOut()" class="navBtn"></div>
            <select id="zoomBtn" onchange="IDRViewer.zoomUpdate()">
                <option value="0">100%</option>
                <option value="1">Actual Size</option>
                <option value="2">Fit Width</option>
                <option value="3">Fit Height</option>
                <option value="4">Fit Page</option>
                <option value="5">Automatic</option>
            </select>
            <div id="btnZoomIn" title="Zoom In" onclick="IDRViewer.zoomIn()" class="navBtn"></div>
            <div id="btnFullscreen" title="Fullscreen" onclick="IDRViewer.toggleFullScreen();" class="navBtn closed"></div>
        </div>
        <div id="mainContent">
            <div id="contentContainer">
                <div id="jpedal" style="position:relative; width: 1125px; height: 1125px; overflow: hidden; margin: 0 auto; box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);">
                    <div id="t1_5" class="t s1_5" onclick = "store();" routerLink = "/halloween" style="cursor:pointer;">Välj sida</div>
                    <div id="t2_5" class="t s1_5" onclick = "store();" routerLink = "/substantiv1" style="cursor:pointer;">Extra övning</div>
                    <div id="t3_5" class="t s1_5" onclick = "store();" routerLink = "/main" style="cursor:pointer;">Välj kapitel</div>
                    <div id="t4_5" class="t s1_5" onclick="var list = document.getElementsByTagName('form');for(var i = 0; i < list.length; i ++) {	var form = list.item(i);	form.reset();}" style="cursor:pointer;">Rensa textfält</div>
                    <div id="t5_5" class="t s2_5">HALLOWEEN</div>
                    <div id="t6_5" class="t s3_5">SPRÅKLÄRA</div>
                    <div id="t7_5" class="t s4_5">Substantiv</div>
                    <div id="t8_5" class="t s5_5">Substantiv kan böjas och får då olika ändelser.</div>
                    <div id="t9_5" class="t s5_5">Skriv orden som saknas.</div>
                    <div id="ta_5" class="t s5_5">en/ett</div>
                    <div id="tb_5" class="t s5_5">Skriv två egna substantiv och böj dem.</div>
                    <div id="tc_5" class="t s5_5">ﬂera</div>
                    <div id="td_5" class="t s5_5">den/det</div>
                    <div id="te_5" class="t s5_5">de/dom</div>
                    <div id="tf_5" class="t s5_5">Ringa in alla substantiv.</div>
                    <div id="tg_5" class="t s6_5 tick">åka</div>
                    <div id="th_5" class="t s6_5 tick">säng</div>
                    <div id="ti_5" class="t s6_5 tick">fot</div>
                    <div id="tj_5" class="t s6_5 tick">boll</div>
                    <div id="tk_5" class="t s6_5 tick">pojke</div>
                    <div id="tl_5" class="t s6_5 tick">läsa</div>
                    <div id="tm_5" class="t s6_5 tick">blå</div>
                    <div id="tn_5" class="t s6_5 tick">katt</div>
                    <div id="to_5" class="t s6_5 tick">glad</div>
                    <div id="tp_5" class="t s6_5 tick">fin</div>
                    <div id="tq_5" class="t s6_5 tick">hund</div>
                    <div id="tr_5" class="t s6_5 tick">leka</div>
                    <div id="ts_5" class="t s6_5 tick">rita</div>
                    <div id="tt_5" class="t s6_5 tick">clown</div>
                    <div id="tu_5" class="t s6_5 tick">arg</div>
                    <div id="tv_5" class="t s6_5 tick">bil</div>
                    <div id="tw_5" class="t s6_5 tick">sko</div>
                    <div id="tx_5" class="t s6_5 tick">himmel</div>
                    <div id="ty_5" class="t s6_5 tick">titta</div>
                    <div id="tz_5" class="t s6_5">boll</div>
                    <div id="t10_5" class="t s6_5">bollar</div>
                    <div id="t11_5" class="t s6_5">bollen</div>
                    <div id="t12_5" class="t s6_5">bollarna</div>
                    <div id="t13_5" class="t s6_5">bilarna</div>
                    <div id="t14_5" class="t s6_5">armen</div>
                    <div id="t15_5" class="t s6_5">säl</div>
                    <div id="t16_5" class="t s6_5">häxor</div>
                    <div id="t17_5" class="t s6_5 tick">dator</div>
                    <div id="t18_5" class="t s6_5 tick">sur</div>
                    <div id="t19_5" class="t s7_5">Substantiv</div>
                    <div id="t1a_5" class="t s5_5">är</div>
                    <div id="t1b_5" class="t s5_5">ord som är namn</div>
                    <div id="t1c_5" class="t s5_5">på något. Man kan</div>
                    <div id="t1d_5" class="t s5_5">säga en, ett eller</div>
                    <div id="t1e_5" class="t s5_5">ﬂera framför.</div>
                    <!-- End text definitions -->
                    <!-- Begin Form Data -->
                    <form>
                        <input type="button" tabindex="5" id="form5_1" name="259 0 R" pdfFieldName="259 0 R" onclick = "store();" routerLink = "/analogier" style="cursor:pointer;" title="Analogier" />
                        <input type="button" tabindex="6" id="form5_2" name="260 0 R" pdfFieldName="260 0 R" onclick = "store();" routerLink = "/sammansatta-ord" style="cursor:pointer;" title="Sammansatta ord" />
                        <input type="button" tabindex="1" id="form5_3" name="256 0 R" pdfFieldName="256 0 R" onclick = "store();" routerLink = "/main" style="cursor:pointer;" title="Välj kapitel" />
                        <input type="button" tabindex="2" id="form5_4" name="257 0 R" pdfFieldName="257 0 R" onclick = "store();" routerLink = "/halloween" style="cursor:pointer;" title="Välj sida" />
                        <input type="button" tabindex="4" id="form5_5" name="1460 0 R" pdfFieldName="1460 0 R" onclick="var list = document.getElementsByTagName('form');
for(var i = 0; i < list.length; i ++) {
	var form = list.item(i);
	form.reset();
}" style="cursor:pointer;" />
                        <input type="button" tabindex="3" id="form5_6" name="258 0 R" pdfFieldName="258 0 R" onclick = "store();" routerLink = "/substantiv1" style="cursor:pointer;" title="Substantiv" />
                        <input type="text" tabindex="7" maxlength="10" id="CL_HA_P05_T01" name="P05_T01" pdfFieldName="P05_T01" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="8" maxlength="10" id="CL_HA_P05_T02" name="P05_T02" pdfFieldName="P05_T02" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="9" maxlength="10" id="CL_HA_P05_T03" name="P05_T03" pdfFieldName="P05_T03" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="10" maxlength="10" id="CL_HA_P05_T04" name="P05_T04" pdfFieldName="P05_T04" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="11" maxlength="10" id="CL_HA_P05_T05" name="P05_T05" pdfFieldName="P05_T05" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="12" maxlength="10" id="CL_HA_P05_T06" name="P05_T06" pdfFieldName="P05_T06" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="13" maxlength="10" id="CL_HA_P05_T07" name="P05_T07" pdfFieldName="P05_T07" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="14" maxlength="10" id="CL_HA_P05_T08" name="P05_T08" pdfFieldName="P05_T08" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="15" maxlength="10" id="CL_HA_P05_T09" name="P05_T09" pdfFieldName="P05_T09" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="16" maxlength="10" id="CL_HA_P05_T10" name="P05_T10" pdfFieldName="P05_T10" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="17" maxlength="10" id="CL_HA_P05_T11" name="P05_T11" pdfFieldName="P05_T11" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="18" maxlength="10" id="CL_HA_P05_T12" name="P05_T12" pdfFieldName="P05_T12" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="19" maxlength="10" id="CL_HA_P05_T13" name="P05_T13" pdfFieldName="P05_T13" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="20" maxlength="10" id="CL_HA_P05_T14" name="P05_T14" pdfFieldName="P05_T14" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="21" maxlength="10" id="CL_HA_P05_T15" name="P05_T15" pdfFieldName="P05_T15" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="22" maxlength="10" id="CL_HA_P05_T16" name="P05_T16" pdfFieldName="P05_T16" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="23" maxlength="10" id="CL_HA_P05_T17" name="P05_T17" pdfFieldName="P05_T17" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="24" maxlength="10" id="CL_HA_P05_T18" name="P05_T18" pdfFieldName="P05_T18" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="25" maxlength="10" id="CL_HA_P05_T19" name="P05_T19" pdfFieldName="P05_T19" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="26" maxlength="10" id="CL_HA_P05_T20" name="P05_T20" pdfFieldName="P05_T20" onfocus="TrackInsightsTextBoxes(this)"/>
                    </form>
                    <!-- End Form Data -->
                    <!-- Begin page background -->
                    <div id="pg5Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
                    <div id="pg5">
                        <object width="1125" height="1125" data="assets/Halloween/05/5.svg" type="image/svg+xml" id="svgImage" style="width:1125px; height:1125px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--     <script src="../../assets/jquery.min.js"></script>
    <script src="../../assets/app_clown.min.js" type="text/javascript"></script>
    <script src="../../assets/IDRViewer.min.js" type="text/javascript"></script>
    <script src="//rum-static.pingdom.net/pa-5aab4ff34c40770007000465.js" async></script> -->
</body>

</html>
