<!DOCTYPE html >
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Simhallen</title>
<!--     <script src="../../assets/dom-extensions.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../../assets/app.min.css">
    <link rel="stylesheet" type="text/css" href="9/9.min.css"> -->
</head>

<body>
    <div id="hide"></div>
    <div id="left">
        <div id="leftNav">
            <div id="btnThumbnails" onclick="IDRViewer.toggleOutlines(false)" title="Thumbnails" class="navBtn inactive"></div>
            <div id="btnOutlines" onclick="IDRViewer.toggleOutlines(true)" title="Bookmarks" class="navBtn inactive"></div>
        </div>
        <div id="leftContent">
            <!-- <div id="thumbnailPanel"></div> -->
            <div id="outlinePanel"></div>
        </div>
    </div>
    <div id="main">
        <div id="mainNav">
            <div id="btnSideToggle" onclick="IDRViewer.toggleThumbnails();" class="navBtn">
                <div title="Sidebar"></div>
            </div>
            <div id="btnPrev" title="Previous Page" onclick="IDRViewer.prev()" class="navBtn"></div>
            <select id="goBtn" onchange="IDRViewer.goToPage(0)">
            </select>
            <span id="pgCount"></span>
            <div id="btnNext" title="Next Page" onclick="IDRViewer.next()" class="navBtn"></div>
            <div id="btnSelect" title="Select" onclick="IDRViewer.setSelectMode(0)" class="navBtn"></div>
            <div id="btnMove" title="Pan" onclick="IDRViewer.setSelectMode(1)" class="navBtn"></div>
            <div id="btnZoomOut" title="Zoom Out" onclick="IDRViewer.zoomOut()" class="navBtn"></div>
            <select id="zoomBtn" onchange="IDRViewer.zoomUpdate()">
                <option value="0">100%</option>
                <option value="1">Actual Size</option>
                <option value="2">Fit Width</option>
                <option value="3">Fit Height</option>
                <option value="4">Fit Page</option>
                <option value="5">Automatic</option>
            </select>
            <div id="btnZoomIn" title="Zoom In" onclick="IDRViewer.zoomIn()" class="navBtn"></div>
            <div id="btnFullscreen" title="Fullscreen" onclick="IDRViewer.toggleFullScreen();" class="navBtn closed"></div>
        </div>
        <div id="mainContent">
            <div id="contentContainer">
                <div id="jpedal" style="position:relative; width: 1125px; height: 1125px; overflow: hidden; margin: 0 auto; box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);">
                    <div id="t1_9" class="t s1_9" onclick = "store();" routerLink = "/simhallen"  style="cursor:pointer;">Välj sida</div>
                    <div id="t2_9" class="t s1_9" onclick = "store();" routerLink = "/main"   style="cursor:pointer;">Välj kapitel</div>
                    <div id="t3_9" class="t s1_9" onclick = "store();" routerLink = "/a-ljudet" style="cursor:pointer;">Bokens övning</div>
                    <div id="t4_9" class="t s1_9" onclick="var list = document.getElementsByTagName('form');for(var i = 0; i < list.length; i ++) {	var form = list.item(i);	form.reset();}" style="cursor:pointer;">Rensa textfält</div>
                    <div id="t5_9" class="t s2_9">Det var en gång ett</div>
                    <div id="t6_9" class="t s2_9">som satt</div>
                    <div id="t7_9" class="t s2_9">i en</div>
                    <div id="t8_9" class="t s2_9">och åt</div>
                    <div id="t9_9" class="t s2_9">.</div>
                    <div id="ta_9" class="t s3_9">SPRÅKLÄRA</div>
                    <div id="tb_9" class="t s4_9">Å-ljudet</div>
                    <div id="tc_9" class="t s5_9">Skriv ord istället för bilderna. Använd orden i ordbanken.</div>
                    <div id="td_9" class="t s2_9">troll</div>
                    <div id="te_9" class="t s2_9">soffa</div>
                    <div id="tf_9" class="t s2_9">korv</div>
                    <div id="tg_9" class="t s6_9">Å-ljudet</div>
                    <div id="th_9" class="t s5_9">stavas</div>
                    <div id="ti_9" class="t s5_9">ibland med <span class="s6_9">o</span>.</div>
                    <div id="tl_9" class="t s7_9">SIMHALLEN</div>
                    <!-- End text definitions -->
                    <!-- Begin Form Data -->
                    <form>
                        <input type="button" tabindex="5" id="form9_1" name="328 0 R" pdfFieldName="328 0 R" onclick = "store();" routerLink = "/i-simhallen1" style="cursor:pointer;" title="I simhallen" />
                        <input type="button" tabindex="2" id="form9_2" name="326 0 R" pdfFieldName="326 0 R" onclick = "store();" routerLink = "/simhallen"  style="cursor:pointer;" title="Välj sida" />
                        <input type="button" tabindex="1" id="form9_3" name="325 0 R" pdfFieldName="325 0 R" onclick = "store();" routerLink = "/main"  style="cursor:pointer;" title="Välj kapitel" />
                        <input type="button" tabindex="3" id="form9_4" name="327 0 R" pdfFieldName="327 0 R" onclick = "store();" routerLink = "/a-ljudet"  style="cursor:pointer;" title="Å-ljudet" />
                        <input type="button" tabindex="4" id="form9_5" name="1296 0 R" pdfFieldName="1296 0 R" onclick="var list = document.getElementsByTagName('form');
for(var i = 0; i < list.length; i ++) {
	var form = list.item(i);
	form.reset();
}" style="cursor:pointer;" />
                        <input type="text" tabindex="6" maxlength="6" id="CL_SI_P09_T01" name="P09_T01" pdfFieldName="P09_T01" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="7" maxlength="6" id="CL_SI_P09_T02" name="P09_T02" pdfFieldName="P09_T02" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="8" maxlength="6" id="CL_SI_P09_T03" name="P09_T03" pdfFieldName="P09_T03" onfocus="TrackInsightsTextBoxes(this)"/>
                    </form>
                    <!-- End Form Data -->
                    <!-- Begin page background -->
                    <div id="pg9Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
                    <div id="pg9">
                        <object width="1125" height="1125" data="assets/Simhallen/9/9.svg" type="image/svg+xml" id="svgImage" style="width:1125px; height:1125px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object>
                    </div>
                    <!-- End page background -->
                </div>
            </div>
        </div>
    </div>
<!--     <script src="../../assets/jquery.min.js"></script>
    <script src="../../assets/app_clown.min.js" type="text/javascript"></script>
    <script src="../../assets/IDRViewer.min.js" type="text/javascript"></script>
    <script src="//rum-static.pingdom.net/pa-5aab4ff34c40770007000465.js" async></script> -->
</body>

</html>
