 .t {
     position: absolute;
     -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
     -o-transform-origin: top left;
     -ms-transform-origin: top left;
     -webkit-transform: scale(0.25);
     -moz-transform: scale(0.25);
     -o-transform: scale(0.25);
     -ms-transform: scale(0.25);
     z-index: 2;
     position: absolute;
     white-space: nowrap;
     overflow: visible;
 }
 
 #t1_11 {
     left: 69px;
     top: 197px;
 }
 
 #t2_11 {
     left: 69px;
     top: 144px;
 }
 
 #t3_11 {
     left: 69px;
     top: 250px;
 }
 
 #t4_11 {
     left: 69px;
     top: 303px;
 }
 
 #t5_11 {
     left: 990px;
     top: 1077px;
     letter-spacing: 6px;
 }
 
 #t6_11 {
     left: 266px;
     top: 871px;
     letter-spacing: 2px;
 }
 
 #t7_11 {
     left: 319px;
     top: 895px;
     letter-spacing: 1px;
 }
 
 #t8_11 {
     left: 336px;
     top: 871px;
     letter-spacing: 2px;
 }
 
 #t9_11 {
     left: 414px;
     top: 895px;
 }
 
 #ta_11 {
     left: 266px;
     top: 925px;
     letter-spacing: 2px;
 }
 
 #tb_11 {
     left: 346px;
     top: 949px;
     letter-spacing: 1px;
 }
 
 #tc_11 {
     left: 363px;
     top: 925px;
     letter-spacing: 1px;
 }
 
 #td_11 {
     left: 442px;
     top: 949px;
 }
 
 #te_11 {
     left: 266px;
     top: 342px;
     letter-spacing: 2px;
 }
 
 #tf_11 {
     left: 313px;
     top: 365px;
     letter-spacing: 1px;
 }
 
 #tg_11 {
     left: 330px;
     top: 342px;
     letter-spacing: 2px;
 }
 
 #th_11 {
     left: 364px;
     top: 365px;
 }
 
 #ti_11 {
     left: 266px;
     top: 396px;
     letter-spacing: 2px;
 }
 
 #tj_11 {
     left: 343px;
     top: 420px;
     letter-spacing: 1px;
 }
 
 #tk_11 {
     left: 360px;
     top: 396px;
     letter-spacing: 1px;
 }
 
 #tl_11 {
     left: 429px;
     top: 420px;
 }
 
 #tm_11 {
     left: 266px;
     top: 450px;
     letter-spacing: 2px;
 }
 
 #tn_11 {
     left: 333px;
     top: 474px;
     letter-spacing: 1px;
 }
 
 #to_11 {
     left: 349px;
     top: 450px;
     letter-spacing: 2px;
 }
 
 #tp_11 {
     left: 429px;
     top: 474px;
 }
 
 #tq_11 {
     left: 266px;
     top: 504px;
     letter-spacing: 3px;
 }
 
 #tr_11 {
     left: 317px;
     top: 528px;
     letter-spacing: 1px;
 }
 
 #ts_11 {
     left: 334px;
     top: 504px;
     letter-spacing: 2px;
 }
 
 #tt_11 {
     left: 384px;
     top: 528px;
 }
 
 #tu_11 {
     left: 695px;
     top: 871px;
     letter-spacing: 2px;
 }
 
 #tv_11 {
     left: 743px;
     top: 895px;
     letter-spacing: 1px;
 }
 
 #tw_11 {
     left: 760px;
     top: 871px;
     letter-spacing: 1px;
 }
 
 #tx_11 {
     left: 823px;
     top: 895px;
 }
 
 #ty_11 {
     left: 695px;
     top: 925px;
     letter-spacing: 1px;
 }
 
 #tz_11 {
     left: 755px;
     top: 949px;
     letter-spacing: 1px;
 }
 
 #t10_11 {
     left: 771px;
     top: 925px;
     letter-spacing: 1px;
 }
 
 #t11_11 {
     left: 820px;
     top: 949px;
 }
 
 #t12_11 {
     left: 266px;
     top: 744px;
     letter-spacing: 1px;
 }
 
 #t13_11 {
     left: 266px;
     top: 312px;
     letter-spacing: 1px;
 }
 
 #t14_11 {
     left: 266px;
     top: 836px;
     letter-spacing: 1px;
 }
 
 #t15_11 {
     left: 266px;
     top: 44px;
     letter-spacing: -1px;
 }
 
 #t16_11 {
     left: 266px;
     top: 771px;
     letter-spacing: 1px;
 }
 
 #t17_11 {
     left: 310px;
     top: 771px;
 }
 
 #t18_11 {
     left: 330px;
     top: 795px;
     letter-spacing: 1px;
 }
 
 #t19_11 {
     left: 347px;
     top: 771px;
     letter-spacing: 2px;
 }
 
 #t1a_11 {
     left: 425px;
     top: 795px;
     letter-spacing: 1px;
 }
 
 #t1b_11 {
     left: 442px;
     top: 771px;
     letter-spacing: 2px;
 }
 
 #t1c_11 {
     left: 683px;
     top: 771px;
     letter-spacing: 2px;
 }
 
 #t1d_11 {
     left: 770px;
     top: 795px;
     letter-spacing: 1px;
 }
 
 #t1e_11 {
     left: 785px;
     top: 771px;
 }
 
 #t1f_11 {
     left: 845px;
     top: 795px;
     letter-spacing: 1px;
 }
 
 #t1g_11 {
     left: 865px;
     top: 771px;
     letter-spacing: 2px;
 }
 
 #t1j_11 {
     left: 706px;
     top: 90px;
     letter-spacing: 1px;
 }
 
 #t1k_11 {
     left: 706px;
     top: 112px;
     letter-spacing: 1px;
 }
 
 #t1l_11 {
     left: 706px;
     top: 132px;
     letter-spacing: 1px;
 }
 
 #t1m_11 {
     left: 820px;
     top: 134px;
 }
 
 #t1n_11 {
     left: 706px;
     top: 165px;
     letter-spacing: 1px;
 }
 
 #form11_1 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 70px;
     top: 581px;
     width: 34px;
     height: 31px;
     text-align: left;
     background: transparent;
     font: normal 24px Arial, Helvetica, sans-serif;
 }
 
 #form11_2 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 188px;
     width: 136px;
     height: 40px;
     text-align: left;
     background: transparent;
     font: normal 30px Arial, Helvetica, sans-serif;
 }
 
 #form11_3 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 54px;
     top: 239px;
     width: 139px;
     height: 43px;
     text-align: left;
     background: transparent;
     font: normal 33px Arial, Helvetica, sans-serif;
 }
 
 #form11_4 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 52px;
     top: 292px;
     width: 141px;
     height: 43px;
     text-align: left;
     background: transparent;
     font: normal 33px Arial, Helvetica, sans-serif;
 }
 
 #form11_5 {
     border-style: none;
     z-index: 2;
     position: absolute;
     left: 55px;
     top: 135px;
     width: 142px;
     height: 43px;
     text-align: left;
     background: transparent;
     font: normal 33px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P11_T01 {
     z-index: 2;
     position: absolute;
     left: 694px;
     top: 356px;
     width: 378px;
     height: 41px;
     color: rgb(0, 0, 0);
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P11_T02 {
     z-index: 2;
     position: absolute;
     left: 694px;
     top: 409px;
     width: 378px;
     height: 41px;
     color: rgb(0, 0, 0);
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P11_T03 {
     z-index: 2;
     position: absolute;
     left: 694px;
     top: 464px;
     width: 378px;
     height: 41px;
     color: rgb(0, 0, 0);
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P11_T04 {
     z-index: 2;
     position: absolute;
     left: 694px;
     top: 518px;
     width: 378px;
     height: 41px;
     color: rgb(0, 0, 0);
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P11_T05 {
     z-index: 2;
     position: absolute;
     left: 440px;
     top: 884px;
     width: 203px;
     height: 41px;
     color: rgb(0, 0, 0);
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P11_T06 {
     z-index: 2;
     position: absolute;
     left: 469px;
     top: 938px;
     width: 174px;
     height: 41px;
     color: rgb(0, 0, 0);
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P11_T07 {
     z-index: 2;
     position: absolute;
     left: 844px;
     top: 884px;
     width: 228px;
     height: 41px;
     color: rgb(0, 0, 0);
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #CL_HA_P11_T08 {
     z-index: 2;
     position: absolute;
     left: 844px;
     top: 938px;
     width: 229px;
     height: 41px;
     color: rgb(0, 0, 0);
     text-align: left;
     background: transparent;
     border-color: transparent;
     font: normal 36px Arial, Helvetica, sans-serif;
 }
 
 #t1o_11 {
     left: 55px;
     top: 83px;
 }
 
 .s1_11 {
     FONT-SIZE: 55px;
     FONT-FAMILY: Gotham-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s7_11 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Medium;
     color: rgb(0, 0, 0);
 }
 
 .s6_11 {
     FONT-SIZE: 183px;
     FONT-FAMILY: MajemaSkol;
     color: rgb(227, 0, 15);
     line-height: 150%;
 }
 
 .s8_11 {
     FONT-SIZE: 85px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(255, 255, 255);
 }
 
 .s5_11 {
     FONT-SIZE: 244px;
     FONT-FAMILY: DonSemiformal;
     color: rgb(247, 166, 0);
 }
 
 .s4_11 {
     FONT-SIZE: 73px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
     line-height: 150%;
 }
 
 .s3_11 {
     FONT-SIZE: 183px;
     FONT-FAMILY: MajemaSkol;
     color: rgb(0, 0, 0);
     line-height: 150%;
 }
 
 .s2_11 {
     FONT-SIZE: 48px;
     FONT-FAMILY: HelveticaNeue-Light;
     color: rgb(0, 0, 0);
 }
