<!DOCTYPE html >
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Simhallen</title>
<!--     <script src="../../assets/dom-extensions.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../../assets/app.min.css">
    <link rel="stylesheet" type="text/css" href="5/5.min.css"> -->
</head>

<body>
    <div id="hide"></div>
    <div id="left">
        <div id="leftNav">
            <div id="btnThumbnails" onclick="IDRViewer.toggleOutlines(false)" title="Thumbnails" class="navBtn inactive"></div>
            <div id="btnOutlines" onclick="IDRViewer.toggleOutlines(true)" title="Bookmarks" class="navBtn inactive"></div>
        </div>
        <div id="leftContent">
            <!-- <div id="thumbnailPanel"></div> -->
            <div id="outlinePanel"></div>
        </div>
    </div>
    <div id="main">
        <div id="mainNav">
            <div id="btnSideToggle" onclick="IDRViewer.toggleThumbnails();" class="navBtn">
                <div title="Sidebar"></div>
            </div>
            <div id="btnPrev" title="Previous Page" onclick="IDRViewer.prev()" class="navBtn"></div>
            <select id="goBtn" onchange="IDRViewer.goToPage(0)">
            </select>
            <span id="pgCount"></span>
            <div id="btnNext" title="Next Page" onclick="IDRViewer.next()" class="navBtn"></div>
            <div id="btnSelect" title="Select" onclick="IDRViewer.setSelectMode(0)" class="navBtn"></div>
            <div id="btnMove" title="Pan" onclick="IDRViewer.setSelectMode(1)" class="navBtn"></div>
            <div id="btnZoomOut" title="Zoom Out" onclick="IDRViewer.zoomOut()" class="navBtn"></div>
            <select id="zoomBtn" onchange="IDRViewer.zoomUpdate()">
                <option value="0">100%</option>
                <option value="1">Actual Size</option>
                <option value="2">Fit Width</option>
                <option value="3">Fit Height</option>
                <option value="4">Fit Page</option>
                <option value="5">Automatic</option>
            </select>
            <div id="btnZoomIn" title="Zoom In" onclick="IDRViewer.zoomIn()" class="navBtn"></div>
            <div id="btnFullscreen" title="Fullscreen" onclick="IDRViewer.toggleFullScreen();" class="navBtn closed"></div>
        </div>
        <div id="mainContent">
            <div id="contentContainer">
                <div id="jpedal" style="position:relative; width: 1125px; height: 1125px; overflow: hidden; margin: 0 auto; box-shadow: 0 2px 6px rgba(100, 100, 100, 0.5);">
                    <div id="t1_5" class="t s1_5" onclick = "store();" routerLink = "/simhallen"  style="cursor:pointer;">Välj sida</div>
                    <div id="t2_5" class="t s1_5" onclick = "store();" routerLink = "/a-ljudet1" style="cursor:pointer;">Extra övning</div>
                    <div id="t3_5" class="t s1_5" onclick = "store();" routerLink = "/main" style="cursor:pointer;">Välj kapitel</div>
                    <div id="t4_5" class="t s1_5" onclick="var list = document.getElementsByTagName('form');for(var i = 0; i < list.length; i ++) {	var form = list.item(i);	form.reset();}" style="cursor:pointer;">Rensa textfält</div>
                    <div id="t5_5" class="t s2_5">SPRÅKLÄRA</div>
                    <div id="t6_5" class="t s3_5">Å-ljudet</div>
                    <div id="t7_5" class="t s4_5">Skriv ord istället för bilderna. Använd orden i ordbanken.</div>
                    <div id="t8_5" class="t s5_5">troll</div>
                    <div id="t9_5" class="t s5_5">soffan</div>
                    <div id="ta_5" class="t s5_5">pojke</div>
                    <div id="tb_5" class="t s5_5">korv</div>
                    <div id="tc_5" class="t s5_5">boll</div>
                    <div id="td_5" class="t s5_5">soppa</div>
                    <div id="te_5" class="t s5_5">slott</div>
                    <div id="tf_5" class="t s5_5">potta</div>
                    <div id="tg_5" class="t s5_5">klocka</div>
                    <div id="th_5" class="t s5_5">dockan</div>
                    <div id="ti_5" class="t s5_5">tomte</div>
                    <div id="tj_5" class="t s6_5">Å-ljudet</div>
                    <div id="tk_5" class="t s4_5">stavas</div>
                    <div id="tl_5" class="t s4_5">ibland med <span class="s6_5">o</span>.</div>
                    <div id="to_5" class="t s5_5">Det var en gång ett</div>
                    <div id="tp_5" class="t s5_5">som bodde i ett</div>
                    <div id="tq_5" class="t s5_5">.</div>
                    <div id="tr_5" class="t s5_5">Då kom en</div>
                    <div id="ts_5" class="t s5_5">. Dom sparkade</div>
                    <div id="tt_5" class="t s5_5">.</div>
                    <div id="tu_5" class="t s5_5">tappade sin</div>
                    <div id="tv_5" class="t s5_5">.</div>
                    <div id="tw_5" class="t s5_5">och</div>
                    <div id="tx_5" class="t s5_5">letade</div>
                    <div id="ty_5" class="t s5_5">under</div>
                    <div id="tz_5" class="t s5_5">och i</div>
                    <div id="t10_5" class="t s5_5">,</div>
                    <div id="t11_5" class="t s5_5">men ingen</div>
                    <div id="t12_5" class="t s5_5">!</div>
                    <div id="t13_5" class="t s5_5">Dom blev hungriga och åt</div>
                    <div id="t14_5" class="t s5_5">och</div>
                    <div id="t15_5" class="t s5_5">.</div>
                    <div id="t16_5" class="t s5_5">En</div>
                    <div id="t17_5" class="t s5_5">kom förbi.</div>
                    <div id="t18_5" class="t s5_5">Han hade hittat</div>
                    <div id="t19_5" class="t s5_5">i en</div>
                    <div id="t1a_5" class="t s5_5">.</div>
                    <div id="t1b_5" class="t s4_5">Läs meningarna för en kamrat.</div>
                    <div id="t1c_5" class="t s7_5">SIMHALLEN</div>
                    <!-- End text definitions -->
                    <!-- Begin Form Data -->
                    <form>
                        <input type="button" tabindex="6" id="form5_1" name="165 0 R" pdfFieldName="165 0 R" onclick = "store();" routerLink = "/a-ljudet1" style="cursor:pointer;" title="Å-ljudet" />
                        <input type="button" tabindex="5" id="form5_2" name="164 0 R" pdfFieldName="164 0 R" onclick = "store();" routerLink = "/satt-ord-pa-kanslor"  style="cursor:pointer;" title="Sätt ord på känslor" />
                        <input type="button" tabindex="2" id="form5_3" name="162 0 R" pdfFieldName="162 0 R" onclick = "store();" routerLink = "/simhallen"  style="cursor:pointer;" title="Välj sida" />
                        <input type="button" tabindex="3" id="form5_4" name="163 0 R" pdfFieldName="163 0 R" onclick = "store();" routerLink = "/a-ljudet2"  style="cursor:pointer;" title="Å-ljudet" />
                        <input type="button" tabindex="1" id="form5_5" name="161 0 R" pdfFieldName="161 0 R" onclick = "store();" routerLink = "/main"   style="cursor:pointer;" title="Välj kapitel" />
                        <input type="button" tabindex="4" id="form5_6" name="1304 0 R" pdfFieldName="1304 0 R" onclick="var list = document.getElementsByTagName('form');
for(var i = 0; i < list.length; i ++) {
	var form = list.item(i);
	form.reset();
}" style="cursor:pointer;" />
                        <input type="text" tabindex="7" maxlength="10" id="CL_SI_P05_T01" name="P05_T01" pdfFieldName="P05_T01" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="8" maxlength="10" id="CL_SI_P05_T02" name="P05_T02" pdfFieldName="P05_T02" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="9" maxlength="10" id="CL_SI_P05_T03" name="P05_T03" pdfFieldName="P05_T03" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="10" maxlength="10" id="CL_SI_P05_T04" name="P05_T04" pdfFieldName="P05_T04" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="11" maxlength="10" id="CL_SI_P05_T05" name="P05_T05" pdfFieldName="P05_T05" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="12" maxlength="10" id="CL_SI_P05_T06" name="P05_T06" pdfFieldName="P05_T06" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="13" maxlength="10" id="CL_SI_P05_T07" name="P05_T07" pdfFieldName="P05_T07" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="14" maxlength="10" id="CL_SI_P05_T08" name="P05_T08" pdfFieldName="P05_T08" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="15" maxlength="10" id="CL_SI_P05_T09" name="P05_T09" pdfFieldName="P05_T09" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="16" maxlength="10" id="CL_SI_P05_T10" name="P05_T10" pdfFieldName="P05_T10" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="17" maxlength="10" id="CL_SI_P05_T11" name="P05_T11" pdfFieldName="P05_T11" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="18" maxlength="10" id="CL_SI_P05_T12" name="P05_T12" pdfFieldName="P05_T12" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="19" maxlength="10" id="CL_SI_P05_T13" name="P05_T13" pdfFieldName="P05_T13" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="20" maxlength="10" id="CL_SI_P05_T14" name="P05_T14" pdfFieldName="P05_T14" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="21" maxlength="10" id="CL_SI_P05_T15" name="P05_T15" pdfFieldName="P05_T15" onfocus="TrackInsightsTextBoxes(this)"/>
                        <input type="text" tabindex="22" maxlength="10" id="CL_SI_P05_T16" name="P05_T16" pdfFieldName="P05_T16" onfocus="TrackInsightsTextBoxes(this)"/>
                    </form>
                    <!-- End Form Data -->
                    <!-- Begin page background -->
                    <div id="pg5Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
                    <div id="pg5">
                        <object width="1125" height="1125" data="assets/Simhallen/5/5.svg" type="image/svg+xml" id="svgImage" style="width:1125px; height:1125px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object>
                    </div>
                    <!-- End page background -->
                </div>
            </div>
        </div>
    </div>
<!--     <script src="../../assets/jquery.min.js"></script>
<script src="../../assets/app_clown.min.js" type="text/javascript"></script>
<script src="../../assets/IDRViewer.min.js" type="text/javascript"></script>
<script src="//rum-static.pingdom.net/pa-5aab4ff34c40770007000465.js" async></script> -->
</body>

</html>
